.dg-control-round_icon__fullscreen:before {
    background-image: url(../../img/WhiteFullScreenActive.png);
}
.dg-control-round_icon__fullscreen:before:hover {
    background-image: url(../../img/WhiteFullScreenHover.png);
}

.leaflet-retina .dg-control-round_icon__fullscreen:before {
    background-image: url(../../img/RetinaWhiteFullScreenActive.png);
}
.leaflet-retina .dg-control-round_icon__fullscreen:before:hover {
    background-image: url(../../img/RetinaWhiteFullScreenHover.png);
}
.leaflet-retina .dg-control-round_icon22__fullscreen:before:hover {
    background-image: url(../../img/callout_phone-arrow.svg);
}
