.scroller-wrapper {
    position: relative;
    overflow: hidden;
    }

.scroller::-webkit-scrollbar {
    width: 0;
    }

.dg-baron-hide {
    overflow: auto;
    }
    .scroller__bar-wrapper {
        position: absolute;
        top: 18px;
        right: 3px;
        bottom: 4px;
        width: 7px;
        border-radius: 5px;
        }
    .dg-baron-hide .scroller__bar-wrapper {
        visibility: hidden;
        }
    .dg-popup__header + .dg-popup__container-wrapper .scroller__bar-wrapper {
        top: 4px;
        }
        .scroller__bar {
            position: absolute;
            min-height:20px;
            width: 7px;
            border-radius: 3px;
            pointer-events: auto;
            }
