.dg-control-round.dg-zoom__out {
    width: 30px;
    height: 33px;
    }
    .dg-control-round__icon.dg-zoom__out-button {
        }
        .dg-control-round__icon.dg-zoom__out-button:before { /* Плашка для визуального слития двух кнопок в одну */
            top: -2px;
            }
