@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'SuisseCond';
    src: url('@{baseURL}/fonts/suisseintl-cond.eot');
    src: url('@{baseURL}/fonts/suisseintl-cond.eot?#iefix') format('embedded-opentype'),
         url('@{baseURL}/fonts/suisseintl-cond.woff') format('woff'),
         url('@{baseURL}/fonts/suisseintl-cond.ttf') format('truetype'),
         url('@{baseURL}/fonts/suisseintl-cond.svg#suisse_intlcondensed') format('svg');
    }
