.leaflet-container {
    background: rgb(247, 243, 223);
    cursor: default;

    &:fullscreen {
        width: 100% !important;
        height: 100% !important;
        }
    }

.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
    cursor: move;
    }

.leaflet-popup-tip-container {
    height: 0;
    }
    .leaflet-popup-tip {
        display: none;
        }

.leaflet-control a:focus,
.leaflet-control a {
    outline: none !important;
    }

.leaflet-container a {
    color: #ffe6aa;
    
    &:hover {
        color: #9cd;
        }
    }

.leaflet-popup-content-wrapper {
    overflow: hidden;
    padding: 0;
    min-width: 60px;
    min-height: 50px;
    border: 0;
    border-radius: 3px;
    background: none;
    box-shadow: none;
    color: #e6e6e6;
    font: 14px/16px Arial, sans-serif;
    transition:
        opacity ease-out .2s,
        max-height ease-out .2s,
        height ease-out .2s;
    transform-origin: 50% 100%;
    }
    .leaflet-popup-content {
        position: relative;
        margin: 16px;
        width: auto;
        line-height: 1.4;
        }

.leaflet-popup a {
    outline: none;
    }

.leaflet-popup-content p {
    margin: 0;
    }

.leaflet-popup-scrolled {
    overflow: visible;
    border: 0;
    }

.leaflet-popup-inner {
    position: relative;
    z-index: 0;
    }

.leaflet-popup_show_true {
    transition:
        transform ease-in-out .2s,
        opacity ease-in-out .2s,
        height ease-out .2s;
    transform: scale(1);
    }

.leaflet-popup_show_false {
    opacity: 0 !important;
    transition: all ease-in-out .1s;
    transform: scale(.2);
    }

/* Коллаут показался, но контент ещё не загрузился */
.leaflet-popup_preloader_true {
    width: 384px;
    height: 52px;
    }

/* В коллауте ошибка вместо контента */
.leaflet-popup_error_true { }

.leaflet-map-pane .leaflet-popup-tip-container {
    position: relative;
    margin: -1px auto 0;
    width: 58px;
    height: 47px;
    background-repeat: no-repeat;
    }
    .leaflet-popup-tip {
        display: none;
        }

.leaflet-popup-tip-container_svg {
    /*.png('DGCustomization_tipShadow');*/
    .noRepeatableBg('DGCustomization__popupShadow', false);
    background-position: 50% 95%;
    background-size: 36px 12px;
    }

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;
    overflow: hidden;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    }
.leaflet-container a.leaflet-popup-close-button:hover {
    border-radius: 2px;
    transition: all .2s;
    }
    .leaflet-container a.leaflet-popup-close-button:after {
        position: absolute;
        top: -3px;
        right: -5px;
        z-index: 2;
        width: 40px;
        height: 40px;
        content: '';
        }

.leaflet-container .leaflet-control-attribution {
    background-color: transparent;
    box-shadow: none;
    }
