.leaflet-container {
    z-index: 0;
    background: rgb(247, 243, 223);
    cursor: default;

    &:fullscreen {
        width: 100% !important;
        height: 100% !important;
    }
}

.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
    cursor: move;
}

.leaflet-control a:focus,
.leaflet-control a {
    outline: none !important;
}

.leaflet-container .leaflet-control-attribution {
    background-color: transparent;
    box-shadow: none;
}
