.leaflet-container {
    background: rgb(247, 243, 223);
    cursor: default;
    }

.dg-map {
    position: relative;
    overflow: hidden;
    cursor: default;

    &:before,
    &:after {
        position: absolute;
        top: 0;
        z-index: 10;
        display: block;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        content: '';
        }
    &:before {
        left: 0;
        width: 0;
        height: 100%;
        }
    &:after {
        left: 1px;
        width: 100%;
        height: 0;
        }
    }
    .dg-map__inner {
        position: relative;
        width: 100%;
        height: 100%;

        &:before,
        &:after {
            position: absolute;
            z-index: 10;
            display: block;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
            content: '';
            }
        &:before {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            }
        &:after {
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            }
        }

    @media print {
        .dg-map:before,
        .dg-map:after {
            box-shadow: none;
            }
            .dg-map__inner:before,
            .dg-map__inner:after {
                box-shadow: none;
                }
        }
