.dg-customization__marker {
    background-repeat: no-repeat;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: inherit;
        background-size: 22px 34px;
        background-repeat: no-repeat;
        transition:
            opacity ease-in-out .2s,
            transform ease-in-out .2s;
        transform: scale(1, 1); /* marker`s dublicate */
        transform-origin: 50% 100%;
        }
    }
.dg-customization__marker_type_mushroom {
    margin: -34px 0 0 -13px;
    width: 22px;
    height: 34px;
    background-image: url('@{baseURL}/img/DGCustomization_defaultMarker.png');
    transform-origin: 50% 100%;
    animation: dg-customization__show-marker .2s;

    &:focus {
        outline: 0;
        }
    }

@keyframes dg-customization__show-marker {
    from { opacity: 0; }
      to { opacity: 1; }
    }

.leaflet-container:not(.leaflet-touch) .leaflet-clickable.dg-customization__marker_type_mushroom:hover {
    background-image: url('@{baseURL}/img/DGCustomization_markerHover.png');
    }

div.leaflet-clickable.dg-customization__marker_type_mushroom:active {
    background-image: url('@{baseURL}/img/DGCustomization_markerPressed.png') !important;
    }

.dg-customization__marker_appear {
    background-position: 999px;
    
    &:before {
        content: '';
        }
    }

.dg-customization__marker_disappear {
    background-position: 999px;
    pointer-events: none;
    
    &:before {
        visibility: hidden;
        content: '';
        opacity: 0;
        transform: scale(1.2, 1.8);
        animation: dg-customization__marker-to-callout .2s;
        }
    }

@keyframes dg-customization__marker-to-callout {
    0% {
        visibility: visible;
        opacity: 1;
        transform: scale(1, 1);
        }
    100% {
        visibility: visible;
        opacity: 0;
        transform: scale(1.2, 1.8);
        }
    }

.leaflet-retina .dg-customization__marker_type_mushroom {
    background-image: url('@{baseURL}/img/DGCustomization_defaultMarker-2x.png');
    background-size: 22px 34px;
    }
.leaflet-retina:not(.leaflet-touch) .leaflet-clickable.dg-customization__marker_type_mushroom:hover {
    background-image: url('@{baseURL}/img/DGCustomization_markerHover-2x.png');
    background-size: 22px 34px;
    }
.leaflet-retina .leaflet-clickable.dg-customization__marker_type_mushroom:active {
    background-image: url('@{baseURL}/img/DGCustomization_markerPressed-2x.png') !important;
    background-size: 22px 34px;
    }

.dg-popup_hidden_true {
    display: none;
    }
