.dg-zoom {
    width: 40px;
    height: 74px;
    }
.leaflet-bottom .dg-zoom {
    margin-bottom: 40px;
    }
    .dg-zoom__in { }

    .dg-control-round.dg-zoom__in {
        position: absolute;
        top: 0;
        left: 0;
        }
        .dg-zoom__in:after {
            position: absolute;
            top: 34px;
            left: 0;
            right: 0;
            z-index: -1;
            margin: auto;
            width: 12px;
            height: 2px;
            box-shadow: 0 0 3px 2px rgba(0,0,0,.3);
            content: '';
            }

        .dg-zoom__in-button { }

    .dg-zoom__out { }

    .dg-control-round.dg-zoom__out {
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        margin: auto;
        width: 22px;
        height: 22px;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
        }
        .dg-zoom__out-button {
            }
            .dg-control-round__icon.dg-zoom__in-button:before {
                width: 14px;
                height: 2px;
                }
            .dg-control-round__icon.dg-zoom__in-button:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 2px;
                height: 14px;
                content: '';
                }
            
            .leaflet-disabled .dg-control-round__icon.dg-zoom__in-button:before,
            .leaflet-disabled .dg-control-round__icon.dg-zoom__in-button:after,
            .leaflet-disabled .dg-control-round__icon.dg-zoom__out-button:after {
                box-shadow: none;
                }
            .dg-zoom__in-button:hover:before,
            .dg-zoom__in-button:hover:after,
            .dg-zoom__out-button:hover:after {
                background: #000;
                }

            .dg-control-round__icon.dg-zoom__in-button:before, /* Горизонтальная плашка плюсика */
            .dg-control-round__icon.dg-zoom__in-button:after, /* Вертикальная плашка плюсика */
            .dg-control-round__icon.dg-zoom__out-button:after { /* Плашка изображающая минусик */
                background: #686868;
                background: rgba(0,0,0,.5);
                box-shadow: 0 1px #fff;
                }
            .dg-control-round:hover .dg-control-round__icon.dg-zoom__in-button:before, /* Горизонтальная плашка плюсика */
            .dg-control-round:hover .dg-control-round__icon.dg-zoom__in-button:after, /* Вертикальная плашка плюсика */
            .dg-control-round:hover .dg-control-round__icon.dg-zoom__out-button:after { /* Плашка изображающая минусик */
                background: #515151;
                background: rgba(0,0,0,.6);
                }
            .dg-control-round__icon.dg-zoom__out-button:before {
                top: -6px; /* Плашка для визуального слития двух кнопок в одну */
                bottom: auto;
                width: 12px;
                height: 2px;
                }
            .dg-control-round__icon.dg-zoom__out-button:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 10px;
                height: 2px; /* Плашка изображающая минусик */
                content: '';
                }
