{
  "extends": "eslint:recommended",
  "rules": {
    "eqeqeq": 0,
    "camelcase": 2,
    "quotes": [2, "single"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": 2,
    "object-curly-spacing": 2,
    "array-bracket-spacing": 2,
    "computed-property-spacing": 2,
    "space-before-blocks": 2,
    "keyword-spacing": 2,
    "no-lonely-if": 2,
    "comma-style": 2,
    "indent": [2, 4, {"SwitchCase": 1}],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-constant-condition": 0,
    "no-multi-spaces": 0,
    "strict": 0,
    "key-spacing": 0,
    "no-shadow": 0,
    "no-console": 1,
    "no-useless-escape": 0,
    "no-prototype-builtins": 0
  },
  "globals": {
    "DG": true,
    "L": true,
    "baron": true,
    "Promise": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}
