.leaflet-container {
    cursor: default;
    }
.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
    cursor: move;
    }

.leaflet-popup-content {
    margin: 0;
    }
    .leaflet-popup-content-wrapper {
        padding: 0;
        border: 0;
        border-radius: 0;
        background: none;
        box-shadow: none;
        color: #e6e6e6;
        }

.leaflet-popup-tip-container {
    height: 0;
    }
    .leaflet-popup-tip {
        display: none;
        }

.leaflet-container a {
    color: #ffe6aa;
    }
.leaflet-container a:hover {
    color: #9cd;
    }
