.dg-control-round_icon__ruler:before {
    width: 16px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dg-control-round_icon__ruler:before {
    background-image: url(../img/Ruler.png);
}
.dg-control-round_icon__ruler:before:hover {
    background-image: url(../img/RulerHover.png);
}

.dg-control-round_icon__active.dg-control-round_icon__ruler:before {
    background-image: url(../img/RulerPressed.png);
}

.dg-ruler-label {
	width: 300px;
	left:0px;
	top:0px;
	max-width: none;
	max-height: none;
    position: absolute;
}

.dg-ruler-label-delete {
    display: none;
    width: 14px;
    height: 15px;
    background: url(../img/delete.png);
}

.dg-ruler-label-point {
    background: white;
    width:10px;
    height:10px;
    margin: 2px 4px 0 0;
    float:left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dg-ruler-label-spacer {
    display: block;
}

.dg-ruler-label-inner {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    min-width: 30px;
    max-width: 300px;
    width: auto;
    padding: 2px 7px 2px 4px;
    font: 12px/14px Arial, sans-serif;
    color: #fff;
    background: #0da5d5;
    border: 4px solid #fff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}