.dg-ruler-pane, .dg-ruler-pane__pathroot {
    position: absolute;
    left: 0;
    top: 0;
}

.dg-ruler-pane {
    z-index: 6;
}

.dg-ruler-pane__pathroot {
    z-index: 7999;
}

.dg-ruler-label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
}

.dg-ruler-label__delete {
    display: none;
    width: 12px;
    height: 12px;
    margin: 1px 0 0 4px;
    vertical-align: top;
    background: url(../img/delete.svg) no-repeat;
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.dg-ruler-label__delete:hover {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
         -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.dg-ruler-label__point {
    display: inline-block;
    background: white;
    width:10px;
    height:10px;
    margin: 2px 4px 0 0;
    float:left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dg-ruler-label__spacer {
    display: block;
}

.dg-ruler-label__container {
    display: none;
    padding: 2px 16px 2px 4px;
    font: 12px/14px Arial, sans-serif;
    white-space: nowrap;
    color: #fff;
    background: #0da5d5;
    border: 4px solid #fff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}