.dg-control-round {
    width: 42px;
    height: 43px;
    border:0 !important;
}

.dg-control-round_icon {
    background: none !important;
}

.leaflet-disabled .dg-control-round_icon {
    background: none !important;
}