.schedule__table-clock {
    background-image: url(../svg/schedule_clock-off-callout.svg);
}

.schedule_open_false:before {
    background-image: url(../svg/schedule_clock-off-callout.svg);
}

.schedule__table-lunch {
    background-image: url(../svg/schedule_lunch.svg);
}

#popup-btn-show-entrance:before{
    background-image: url(../svg/callout_entrance.svg);
}

.dg-map-geoclicker-purpose:before {
    background-image: url(../svg/callout_place.svg);
}

.building-callout__body:first-child:before {
    background-image: url(../svg/callout_address.svg);
}

.firm-card__address:before {
    background-image: url(../svg/callout_address.svg);
}

.firm-card__phone:before {
    background-image: url(../svg/callout_phone.svg);
}

.firm-card__site:before {
    background-image: url(../svg/callout_website.svg);
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__street:before {
    background-image: url(../svg/callout_street.svg);
}

.schedule__today:after {
    background-image: url(../svg/ui_expand-off.svg);
}

.schedule__today.show_schedule:after {
    background-image: url(../svg/ui_expand-on.svg);
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__sight:before {
    background-image: url(../svg/callout_sight.svg);
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__settlement:before {
    background-image: url(../svg/callout_settlement.svg);
}


#popup-btn-firmCard-back:before {
    background-image: url(../img/back-light.png);
}

#popup-btn-firmList-back:before {
    background-image: url(../img/back-light.png);
}

#popup-btn-goto:before {
    background-image: url(../img/path-light.png);
}

.firm-card__email:before {
    background-image: url(../img/evenlope-light.png);
}

.building-callout__list-item:before {
    background-image: url(../img/bullet-light.png);
}

#dg-showmoresight {
   color: #005b8f;
}

#dg-showmoresight:hover {
    color: #000;
}


.firm-card__comment {
    color: #666;
}

.schedule__now {
    color: #666;
}

.schedule__td {
    color: #000;
}

.schedule__tc_active_true {
    background: rgba(0, 0, 0, 0.03);
}

.schedule__string-time {
    color: #666;
}

.firm-card__rubrics-list-item:after {
    color: #666;
}

.firm-card__rubrics {
    color: #666;
}

#popup-link-flamp_stars {
    image('callout_star-off')
}