.schedule__table-clock {
    image('DGGeoclicker_clock-off-light')
}

.schedule_open_false:before {
    image('DGGeoclicker_clock-off-light')
}

.schedule__table-lunch {
    image('DGGeoclicker_lunch-light')
}

#popup-btn-show-entrance:before{
    image('DGGeoclicker_enter-light')
}

.dg-map-geoclicker-purpose:before {
    image('DGGeoclicker_purp-light')
}

.building-callout__body:first-child:before {
    image('DGGeoclicker_marker-light')
}

.firm-card__address:before {
    image('DGGeoclicker_marker-light')
}

.firm-card__phone:before {
    image('DGGeoclicker_phone-light')
}

.firm-card__site:before {
    image('DGGeoclicker_globe-light')
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__street:before {
    image('DGGeoclicker_street-light')
}

.schedule__today:after {
    image('DGGeoclicker_show-schedule-light')
}

.schedule__today.show_schedule:after {
    image('DGGeoclicker_hide-schedule-light')
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__sight:before {
    image('DGGeoclicker_icon-sight-dark')
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__settlement:before {
    image('DGGeoclicker_callout-settlement-dark')
}


#popup-btn-firmCard-back:before {
    image('DGGeoclicker_back-light')
}

#popup-btn-firmList-back:before {
    image('DGGeoclicker_back-light')
}

#popup-btn-goto:before {
    image('DGGeoclicker_path-light')
}

.firm-card__email:before {
    image('DGGeoclicker_evenlope-light')
}

.building-callout__list-item:before {
    image('DGGeoclicker_bullet-light')
}

#popup-link-photos:before {
    image('DGGeoclicker_photo-light')
}


#dg-showmoresight {
   color: #005b8f;
}

#dg-showmoresight:hover {
    color: #000;
}


.firm-card__comment {
    color: #666;
}

.schedule__now {
    color: #666;
}

.schedule__td {
    color: #000;
}

.schedule__tc_active_true {
    background: rgba(0, 0, 0, 0.03);
}

.schedule__string-time {
    color: #666;
}

.firm-card__rubrics-list-item:after {
    color: #666;
}

.firm-card__rubrics {
    color: #666;
}

#popup-link-flamp_stars {
    bg('callout_star-off-dark')
}
