.dg-map-geoclicker-drilldown {
    color: #666;
    }

.popup_footer_btn-wrapper a {
    color: #647882;
    }
.popup_footer_btn-wrapper a:hover{
    color: #286482;
    }

.popup_footer_btn {
    border: 1px solid #e9edf2;
    background: #f5faff;
    box-shadow: 0 1px rgba(0,0,0,.1);
    }
.popup_footer_btn:hover {
    background: #e7f3ff;
    }
