.dg-control-round:before {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}
.dg-control-round {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/light-round-control.png',
    sizingMethod='scale');
}

.leaflet-disabled.dg-control-round,
.leaflet-disabled.dg-control-round:hover {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/light-round-control-disabled.png',
    sizingMethod='scale');
}

.dg-control-round:hover,
.dg-control-round__active.dg-control-round:hover {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/light-round-control-hover.png',
    sizingMethod='scale');
}

.dg-control-round:active, .dg-control-round__active.dg-control-round {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../img/light-round-control-active.png',
    sizingMethod='scale');
}
