/* Callout styles for Leaflet markup */
.leaflet-popup-content-wrapper {
    color: #e6e6e6;
    margin: 0;
    padding: 0;
}
    .leaflet-popup-tip {
        display: none;
    }
    .leaflet-popup-tip-container {
        background: url(__BASE_URL__/img/dg-callout-default.png) 0 -24px no-repeat;
        bottom: -28px;
        height: 30px;
        left: 45px;
        padding: 0;
        position: absolute;
        width: 55px;
    }
    .leaflet-container a.leaflet-popup-close-button {
        background: url(__BASE_URL__/img/dg-callout-default.png) 0 0 no-repeat;
        border-radius: 2px;
        color: #aaa;
        font-weight: 400;
        height: 24px;
        margin: 0;
        right: -1px;
        top: -2px;
        padding: 0;
        width: 24px;
    }
    .leaflet-container a.leaflet-popup-close-button:hover {
        background: url(__BASE_URL__/img/dg-callout-default.png) -24px 0 no-repeat;
    }

/* Callout styles for 2GIS markup */
.dg-callout {
    background-color: #fff;
    border: 1px solid #a9bbc9;
    border-radius: 5px;
    color: #222;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 17px 15px 16px;
}
.dg-callout img {
    border: none;
    margin: 0;
}
.dg-callout::selection {
    background-color: #0070c0;
}

/* Geoclicker */
.dg-geoclicker {}
    .dg-geoclicker__org {
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin: 0 10px 6px 0;
    }
    .dg-geoclicker__address {
        font-size: 15px;
        font-weight: normal;
        line-height: 16px;
        margin-bottom: 2px;
    }
    .dg-geoclicker__purpose,
    .dg-geoclicker__elevation {
        color: #a0a0a0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 1px;
    }
    .dg-geoclicker__purpose {
        margin-bottom: 2px;
    }
    .dg-geoclicker__show-organizations {
        color: rgb(0, 112, 192);
        cursor: pointer;
        font-size: 12px;
        line-height: 24px;
    }
        .dg-geoclicker__orgs {
            color: rgb(160, 160, 160);
            display: inline;
            font-size: 10px;
            position: relative;
            top: -4px;
        }