.dg-marker {}
.leaflet-div-icon {
    background-color: transparent;
    border: none;
}

/* Default marker animation */
.dg-marker_default.dg-marker_animated {
    background: url(__BASE_URL__/img/dg-marker-default-desktop-standard.png) center 100% no-repeat;
    border: none;
    bottom: 0;
    display: block;
    height: 32px;
    -webkit-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    -moz-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    -o-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    -ms-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 15px !important;
}
:not(#so_bad) .dg-marker_default.dg-marker_animated:before,
:not(#so_bad) .dg-marker_default.dg-marker_animated:after {
    bottom: 0;
    content: '';
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: auto;
}
:not(#so_bad) .dg-marker_default.dg-marker_animated:before {
    background: url(__BASE_URL__/img/dg-marker-default-desktop-standard-scaled.png) 0 100% no-repeat;
    background-size: 100%;
    opacity: 0;
    z-index: 2;
    width: 100%;
}
:not(#so_bad)  .dg-marker_default.dg-marker_animated:after {
    background: url(__BASE_URL__/img/dg-marker-default-desktop-standard-scaled-active.png) 0 100% no-repeat;
    background-size: 100%;
    opacity: 0;
    z-index: 3;
    width: 100%;
}
.dg-marker_default.dg-marker_animated.dg-marker:hover,
.dg-marker_default.dg-marker_animated.dg-marker_mousedown {
    margin-left: -3px;
    -webkit-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    -moz-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    -o-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    -ms-transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    transition: width 0.05s ease-out, margin-left 0.05s ease-out;
    width: 21px !important;
}
:not(#so_bad) .dg-marker_default.dg-marker_animated.dg-marker_mouseover {
    background: none;
}
:not(#so_bad) .dg-marker_default.dg-marker_animated.dg-marker_mouseover:before {
    opacity: 1;
}
:not(#so_bad) .dg-marker_default.dg-marker_animated.dg-marker_mouseover:after {
    opacity: 0.6;
}
:not(#so_bad) .dg-marker_default.dg-marker_animated.dg-marker_mousedown:after {
    bottom: -1px;
    opacity: 1;
}