/* baron */

.scroller {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 25px;
    bottom: 25px;
    right: 7px;
    width: 6px;
    border-radius: 5px;
    background-color: #e6ebee;
    background: rgba(0, 0, 255, .1);
}

.container {
    border-right: solid 25px white;
    border-left: solid 25px white;
    overflow: hidden;
}

.scroller__bar-wrapper:hover .scroller__bar {
    background-color: #8499aa;
    opacity: 1;
}

.scroller__bar {
    position: absolute;
    width: 6px;
    border-radius: 3px;
    background-color: #98b1c5;
    pointer-events: auto;
}

.header__title {
   background: #fff;
   margin-bottom: 5px;
}
