/* baron */

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller__bar-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7px;
    width: 6px;
    border-radius: 5px;
    background-color: #e6ebee;
    background: rgba(0, 0, 255, .1);
}

.dg-popup-container {
    border-right: solid 25px white;
    border-left: solid 25px white;
    overflow: hidden;
}

.scroller__bar-wrapper:hover .scroller__bar {
    background-color: #8499aa;
    opacity: 1;
}

.scroller__bar {
    position: absolute;
    width: 6px;
    border-radius: 3px;
    background-color: #98b1c5;
    pointer-events: auto;
    min-height:20px;
}

.header__title {
   background: #fff;
   margin-bottom: 5px;
}

.dg-baron-hide {
    display: none;
}
