.map__marker {
    background-repeat: no-repeat;
}
.map__marker:before { /* markers dublicate */
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: 24px 38px;
    background-image: inherit;
    background-repeat: no-repeat;
    -webkit-transition:
        opacity ease-in-out .2s,
        -webkit-transform ease-in-out .2s;
    transition:
        opacity ease-in-out .2s,
        transform ease-in-out .2s;
}

.map__marker-type-mushroom {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 24px;
    height: 38px;
    margin: -34px 0 0 -13px;
    background-image: url(__BASE_URL__/img/pin_ini.png);
}

div.map__marker-type-mushroom:hover {
    background-image: url(__BASE_URL__/img/pin_hover.png);
}
div.map__marker-type-mushroom:active {
    background-image: url(__BASE_URL__/img/pin_pressed.png);
}

.map__marker-appear.map__marker {
    background-position: 999px;
}

.map__marker-appear.map__marker:before {
    content: '';
}

.map__marker-disappear {
    pointer-events: none; /* click should work in hidden marker area */
}

.map__marker-disappear.map__marker {
    background-position: 999px;
}
.map__marker-disappear.map__marker:before {
    content: '';
    -webkit-transform: scale(1.2, 1.8);
    transform: scale(1.2, 1.8);
    -webkit-animation:  map__marker-to-callout .2s;
    animation:          map__marker-to-callout .2s;
    opacity: 0;
    visibility: hidden;
}
@-webkit-keyframes map__marker-to-callout {
    0% {-webkit-transform: scale(1, 1); opacity: 1; visibility: visible;}
    100% {-webkit-transform: scale(1.2, 1.8); opacity: 0; visibility: visible;}
}
@keyframes map__marker-to-callout {
    0% {transform: scale(1, 1); opacity: 1; visibility: visible;}
    100% {transform: scale(1.2, 1.8); opacity: 0; visibility: visible;}
}

/*apply retina markers*/
div.leaflet-retina .map__marker-type-mushroom {
    background-image: url(__BASE_URL__/img/pin_ini@2x.png);
    background-size: 24px 38px;
}
div.leaflet-retina .map__marker-type-mushroom:hover {
    background-image: url(__BASE_URL__/img/pin_hover@2x.png);
    background-size: 24px 38px;
}
div.leaflet-retina .map__marker-type-mushroom:active {
    background-image: url(__BASE_URL__/img/pin_pressed@2x.png);
    background-size: 24px 38px;
}

.dg-hidden {
    display: none;
}
