.dg-customization__marker {
    background-repeat: no-repeat;
}

.dg-customization__marker:before { /* marker`s dublicate */
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: 20px 32px;
    background-image: inherit;
    background-repeat: no-repeat;
    -webkit-transition:
        opacity ease-in-out .2s,
        -webkit-transform ease-in-out .2s;
    transition:
        opacity ease-in-out .2s,
        transform ease-in-out .2s;
}

@-webkit-keyframes dg-customization__show-marker {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes dg-customization__show-marker {
    from { opacity: 0; }
      to { opacity: 1; }
}

.dg-customization__marker_type_mushroom {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    width: 20px;
    height: 32px;
    margin: -34px 0 0 -13px;
    background-image: url(__BASE_URL__/img/pin_ini.png);
    -webkit-animation: dg-customization__show-marker .2s;
    animation: dg-customization__show-marker .2s;
}

.leaflet-container:not(.leaflet-touch) div.leaflet-clickable.dg-customization__marker_type_mushroom:hover {
    background-image: url(__BASE_URL__/img/pin_hover.png);
}

div.leaflet-clickable.dg-customization__marker_type_mushroom:active {
    background-image: url(__BASE_URL__/img/pin_pressed.png);
}

.dg-customization__marker_appear.dg-customization__marker {
    background-position: 999px;
}

.dg-customization__marker_appear.dg-customization__marker:before {
    content: '';
}

.dg-customization__marker_disappear {
    pointer-events: none; /* click should work in hidden marker area */
}

.dg-customization__marker_disappear.dg-customization__marker {
    background-position: 999px;
}

.dg-customization__marker_disappear.dg-customization__marker:before {
    content: '';
    -webkit-transform: scale(1.2, 1.8);
    transform: scale(1.2, 1.8);
    -webkit-animation:  dg-customization__marker-to-callout .2s;
    animation:          dg-customization__marker-to-callout .2s;
    opacity: 0;
    visibility: hidden;
}

@-webkit-keyframes dg-customization__marker-to-callout {
    0% {-webkit-transform: scale(1, 1); opacity: 1; visibility: visible;}
    100% {-webkit-transform: scale(1.2, 1.8); opacity: 0; visibility: visible;}
}
@keyframes dg-customization__marker-to-callout {
    0% {transform: scale(1, 1); opacity: 1; visibility: visible;}
    100% {transform: scale(1.2, 1.8); opacity: 0; visibility: visible;}
}

/*apply retina markers*/
div.leaflet-retina .dg-customization__marker_type_mushroom {
    background-image: url(__BASE_URL__/img/pin_ini@2x.png);
    background-size: 20px 32px;
}

div.leaflet-retina:not(.leaflet-touch) .leaflet-clickable.dg-customization__marker_type_mushroom:hover {
    background-image: url(__BASE_URL__/img/pin_hover@2x.png);
    background-size: 20px 32px;
}

div.leaflet-retina .leaflet-clickable.dg-customization__marker_type_mushroom:active {
    background-image: url(__BASE_URL__/img/pin_pressed@2x.png);
    background-size: 20px 32px;
}

.dg-hidden {
    display: none;
}
