/*Full screen control styles*/

.leaflet-container:fullscreen { width: 100% !important; height: 100% !important; }

.dg-control-round_icon__active.dg-control-round_icon__fullscreen:before {
    image('DGFullScreen_FullScreenPressed');
}
