.dg-control-round_icon__ruler:before {
    width: 16px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dg-control-round_icon__ruler:before {
    .image('DGRulerControl_Static');
}
.dg-control-round_icon__ruler:before:hover {
    .image('DGRulerControl_Hover');
}

.dg-control-round_icon__active.dg-control-round_icon__ruler:before {
    .image('DGRulerControl_Active');
}
