/*firmCard address*/
.firm-card__address {
    position: relative;
    margin: 13px 0 9px 24px;
    font: 16px/16px Arial;
}

.firm-card__address:before {
    position: absolute;
    top: 3px;
    left: -24px;
    background-image: url('__BASE_URL__/img/dg-callout-dark.png');
    background-position: -182px -82px;
    width: 9px;
    height: 11px;
    content: '';
}

.firm-card__comment {
    vertical-align: top;
    position: relative;
    top: 2px;
    margin: 0 0 0 5px;
    font: 12px/16px Arial;
    color: #aaa;
}

/*firmCard phone*/

.firm-card__phone {
    position: relative;
    padding: 0 0 4px 24px;
    overflow: hidden;
}

.firm-card__phone:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background-image: url('__BASE_URL__/img/dg-callout-dark.png');
    background-position: -260px -93px;
    width: 10px;
    height: 10px;
}

.firm-card__phone-num {
    white-space: nowrap;
}

/*firmCard site/email*/

.firm-card__link {
    position: relative;
    padding: 0 0 0 24px;
    line-height: 16px;
    margin: 0 0 4px;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.firm-card__link:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url('__BASE_URL__/img/dg-callout-dark.png');
    width: 11px;
    height: 11px;
}

.firm-card__site:before {
    background-position: -255px -243px;
}

.firm-card__email:before {
    top: 5px;
    background-position: -232px -264px;
}

/*firmCard forecast*/

.firm-card__workhours {
    position: relative;
    padding: 0 0 9px 24px;
}

.firm-card__workhours:before {
    position: absolute;
    top: 2px;
    left: 0;
    background-image: url('__BASE_URL__/img/clock.png');
    width: 11px;
    height: 11px;
    content: '';
}

/*firmCard rubrics*/

.firm-card__rubrics {
    overflow: hidden;
    color: #aaa;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
}

.firm-card__rubrics-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.firm-card__rubrics {
    font-size: 12px;
    line-height: 16px;
}

.firm-card__rubrics-list-item {
    display: inline;
    cursor: default;
}

.firm-card__rubrics-list-item:after {
    content: '•';
    display: inline-block;
    margin: 0 4px;
    color: #6e6964;
}

.firm-card__rubrics-list-item:last-child:after
{
  content: '';
}

.link, .link:hover {
    background-position: 0 95%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

/*firmCard payments*/

.firm-card__aa {
    padding: 0 0 0 24px;
    margin: 0 0 4px;
    font-size: 12px;
}

.firm-card__aa-list, .firm-card__aa-list-additional {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
}

.firm-card__aa-list-item {
    display: inline;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    cursor: default;
}

.firm-card__aa-list-item:after {
    content: '•';
    display: inline-block;
    margin: 0 4px;
    color: #e6e6e6;
}

.firm-card__aa-list-item:last-child:after
{
    content: '';
}

/*frimCard schedule*/

.firm-card__schedule {
    margin: 0 0 15px;
}

.schedule__no-table {
    border-bottom: none !important;
    cursor: default !important;
}

.schedule__no-table:after {
    background-image:none !important;
}

.schedule__today {
    position: relative;
    display: inline-block;
    margin-left: 24px;
    border-bottom: 1px dashed #aaa5a0;
    font-size: 14px;
    line-height: 11px;
    cursor: pointer;
}
.schedule__today:before {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    top: 0;
    left: -24px;
    /* background: url("__BASE_URL__/img/clock.png") no-repeat; */
}

.schedule__today:after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: -12px;
    width: 10px;
    height: 6px;
    background: url("__BASE_URL__/img//maximize-popup.png") no-repeat;
}

.schedule__today-time:not(:last-of-type):after {
    content: ',';
}

.schedule__now {
    margin: 1px 7px 0px 36px;
    /* Справа до края карточки должно быть 24px */

    color: #aaa5a0;
    font-size: 12px;
}

.schedule__string {
    text-align: left;
    padding: 3px 16px 3px 36px;
}

.schedule__string-time {
    color: #645a50;
    white-space: nowrap;
}

.schedule__table {
    display:none;
    text-align: center;
}

/* Иконка часов слева от ряда периодов работы */
.schedule__table-clock {
    background: url("__BASE_URL__/img/clock.png") no-repeat;
}

/* Иконка чашки чая слева от ряда периодов обеда */
.schedule__table-lunch {
    background: url("__BASE_URL__/img/lunch.png") no-repeat;
}

.schedule__tc {
    display: inline-block;
    vertical-align: top;
    width: 42px;
    padding: 2px 0 20px;
}

.schedule__tc_pre {
  width: 17px;
}

.schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
}

.schedule__day-name {
    margin: 0;
    color: #8c8782;
}

.schedule__td {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 32px;
    margin: 10px 0 0;
    color: #e6e6e6;
}

.schedule_state_expanded .schedule__popup {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
}

/* Открытость фирмы */
.schedule_open_true:before {
    background: url("__BASE_URL__/img/clock.png") no-repeat;
}
.schedule_open_false:before {
    /* Сейчас закрыто */
    background: url("__BASE_URL__/img/clock_off.png");
}

/* Local dashed link */
.link_type_local {
    background: -webkit-linear-gradient(left, #99ccdd, #99ccdd 50%, transparent 50%);
    background: -moz-linear-gradient(left, #99ccdd, #99ccdd 50%, transparent 50%);
    background: linear-gradient(left, #99ccdd, #99ccdd 50%, transparent 50%);
}
.link_type_local:hover {
    background: -webkit-linear-gradient(left, #99bbcc, #99bbcc 50%, transparent 50%);
    background: -moz-linear-gradient(left, #99bbcc, #99bbcc 50%, transparent 50%);
    background: linear-gradient(left, #99bbcc, #99bbcc 50%, transparent 50%);
}
.link.link_type_local,
.link.link_type_local:hover {
    /* Нужна высокая специфичность, .link в начале не убирать */

    background-size: 6px 1px;
}
