.popup-header-link {
    display: inline-block;
}

.popup-link {
    height: 14px;
    line-height: 14px;
    margin: 0 0.6em 0 0;
    vertical-align: top;
    background-size: contain;
    background-repeat: repeat-x;
}

#popup-link-flamp_stars {
    background-image: url(__BASE_URL__/img/star-off.png);
    width: 70px;
}

.leaflet-retina #popup-link-flamp_stars {
    background-image: url(__BASE_URL__/img/star-off-2x.png);
    height: inherit;
}

#popup-link-flamp_stars div {
    background-image: url(__BASE_URL__/img/star-on.png);
    height: 14px;
}

.leaflet-retina #popup-link-flamp_stars div {
    background-image: url(__BASE_URL__/img/star-on-2x.png);
    height: 14px;
    background-size: contain;
}

#popup-link-booklet:before,
#popup-link-photos:before {
    content: '';
    width: 12px;
    height: 10px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-size: contain;
    display: inherit;
}

#popup-link-booklet:before {
    background-image: url(__BASE_URL__/img/booklet.png);
}

.leaflet-retina #popup-link-booklet:before {
    background-image: url(__BASE_URL__/img/booklet-2x.png);
}
