.dg-label__content {
    padding: 3px 7px;
    border: 1px solid #bebdb5;
    border: 1px solid rgba(151,151,151,.6);
    background: #fff;
    background: rgba(255,255,255,.85);
    color: #727170;
    }
