.dg-control-round__icon_name_traffic {
    &:before {
        .noRepeatableBg('DGRoundControl__trafficIcon');
        width: 20px;
        height: 14px;
        background-size: contain;
        }

    &:hover:before {
        .noRepeatableBg('DGRoundControl__trafficIconHover');
        }
    }
