.dg-traffic-control {
    .no-touch &_color_green {
        background: #3fc03b !important;
        font-weight: bold;
    }

    .no-touch &_color_yellow {
        background: #f3b223 !important;
        font-weight: bold;
    }

    .no-touch &_color_red {
        background: #eb240c !important;
        font-weight: bold;
    }
}
