
.dg-traffic-control {
    font: normal 18px/42px 'Arial narrow', Arial, sans-serif;

    &_color_green {
        color: #32982f;
        }

    &_color_yellow {
        color: #da990b;
        }

    &_color_red {
        color: #b81b0a;
        }

    &_color_green:before,
    &_color_yellow:before,
    &_color_red:before {
        display: none;
        }
    }
