.dg-control-round_icon__ruler:before {
    width: 16px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dg-control-round_icon__ruler:before {
    background-image: url(__BASE_URL__/img/Ruler.png);
}
.dg-control-round_icon__ruler:before:hover {
    background-image: url(__BASE_URL__/img/RulerHover.png);
}

.dg-control-round_icon__active.dg-control-round_icon__ruler:before {
    background-image: url(__BASE_URL__/img/RulerPressed.png);
}
