#popup-link-photos:before {
    background-image: url(__BASE_URL__/img/photo-dark.png);
}

.schedule__table-clock {
    background-image: url(__BASE_URL__/img/clock-off-dark.png);
}

.schedule_open_false:before {
    background-image: url(__BASE_URL__/img/clock-off-dark.png);
}

.schedule__table-lunch {
    background-image: url(__BASE_URL__/img/lunch-dark.png);
}

#popup-btn-firmCard-back:before {
    background-image: url(__BASE_URL__/img/back-dark.png);
}

#popup-btn-firmList-back:before {
    background-image: url(__BASE_URL__/img/back-dark.png);
}

#popup-btn-goto:before {
    background-image: url(__BASE_URL__/img/path-dark.png);
}

#popup-btn-show-entrance:before{
    background-image: url(__BASE_URL__/img/enter-dark.png);
}

.dg-map-geoclicker-purpose:before {
    background-image: url(__BASE_URL__/img/purp-dark.png);
}

.building-callout__body:first-child:before {
    background-image: url(__BASE_URL__/img/marker-dark.png);
}

.firm-card__address:before {
    background-image: url(__BASE_URL__/img/marker-dark.png);
}

.firm-card__phone:before {
    background-image: url(__BASE_URL__/img/phone-dark.png);
}

.firm-card__site:before {
    background-image: url(__BASE_URL__/img/globe-dark.png);
}

.firm-card__email:before {
    background-image: url(__BASE_URL__/img/evenlope-dark.png);
}

.dg-map-geoclicker-purpose__street:before {
    background-image: url(__BASE_URL__/img/street-dark.png);
}

.schedule__today:after {
    background-image: url(__BASE_URL__/img/show-schedule-dark.png);
}

.schedule__today.show_schedule:after {
    background-image: url(__BASE_URL__/img/hide-schedule-dark.png);
}

.building-callout__list-item:before {
    background-image: url(__BASE_URL__/img/bullet-dark.png);
}

.firm-card__comment {
    color: #aaa;
}

.schedule__now {
    color: #aaa;
}

.schedule__td {
    color: #e6e6e6;
}

.schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
}

.schedule__string-time {
    color: #e6e6e6;
}

.firm-card__aa-list-item:after {
    color: #e6e6e6;
}

.firm-card__rubrics-list-item:after {
    color: #6e6964;
}

.firm-card__rubrics {
    color: #aaa;
}

/*retina icons*/

.leaflet-retina #popup-link-photos:before {
    background-image: url(__BASE_URL__/img/photo-dark-2x.png);
}

.leaflet-retina .schedule__table-clock {
    background-image: url(__BASE_URL__/img/clock-off-dark-2x.png);
}

.leaflet-retina .schedule_open_false:before {
    background-image: url(__BASE_URL__/img/clock-off-dark-2x.png);
}

.leaflet-retina .schedule__table-lunch {
    background-image: url(__BASE_URL__/img/lunch-dark-2x.png);
}

.leaflet-retina #popup-btn-firmCard-back:before {
    background-image: url(__BASE_URL__/img/back-dark-2x.png);
}

.leaflet-retina #popup-btn-firmList-back:before {
    background-image: url(__BASE_URL__/img/back-dark-2x.png);
}

.leaflet-retina #popup-btn-goto:before {
    background-image: url(__BASE_URL__/img/path-dark-2x.png);
}

.leaflet-retina #popup-btn-show-entrance:before{
    background-image: url(__BASE_URL__/img/enter-dark-2x.png);
}

.leaflet-retina .dg-map-geoclicker-purpose:before {
    background-image: url(__BASE_URL__/img/purp-dark-2x.png);
}

.leaflet-retina .building-callout__body:first-child:before {
    background-image: url(__BASE_URL__/img/marker-dark-2x.png);
}

.leaflet-retina .firm-card__address:before {
    background-image: url(__BASE_URL__/img/marker-dark-2x.png);
}

.leaflet-retina .firm-card__phone:before {
    background-image: url(__BASE_URL__/img/phone-dark-2x.png);
}

.leaflet-retina .firm-card__site:before {
    background-image: url(__BASE_URL__/img/globe-dark-2x.png);
}

.leaflet-retina .firm-card__email:before {
    background-image: url(__BASE_URL__/img/evenlope-dark-2x.png);
}

.leaflet-retina .dg-map-geoclicker-purpose__street:before {
    background-image: url(__BASE_URL__/img/street-dark-2x.png);
}

.leaflet-retina .schedule__today:after {
    background-image: url(__BASE_URL__/img/show-schedule-dark-2x.png);
}

.leaflet-retina .schedule__today.show_schedule:after {
    background-image: url(__BASE_URL__/img/hide-schedule-dark-2x.png);
}

.leaflet-retina .building-callout__list-item:before {
    background-image: url(__BASE_URL__/img/bullet-dark-2x.png);
}
