#popup-link-photos:before {
    background-image: url(__BASE_URL__/img/photo-dark.png);
}

.schedule__table-clock {
    background: url("__BASE_URL__/img/clock-off-dark.png") no-repeat;
}

.schedule_open_false:before {
    background: url("__BASE_URL__/img/clock-off-dark.png");
}

.schedule__table-lunch {
    background: url("__BASE_URL__/img/lunch-dark.png") no-repeat;
}

#popup-btn-firmCard-back:before {
    background-image: url(__BASE_URL__/img/back-dark.png);
}

#popup-btn-firmList-back:before {
    background-image: url(__BASE_URL__/img/back-dark.png);
}

#popup-btn-goto:before {
    background-image: url(__BASE_URL__/img/path-dark.png);
}

#popup-btn-show-entrance:before{
    background-image: url(__BASE_URL__/img/enter-dark.png);
}

.dg-map-geoclicker-purpose:before {
    background-image: url(__BASE_URL__/img/purp-dark.png);
}

.dg-map-geoclicker-address-header:before {
    background-image: url(__BASE_URL__/img/marker-dark.png);
}

.firm-card__address:before {
    background-image: url(__BASE_URL__/img/marker-dark.png);
}

.firm-card__phone:before {
    background-image: url(__BASE_URL__/img/phone-dark.png);
}

.firm-card__site:before {
    background-image: url(__BASE_URL__/img/globe-dark.png);
}

.firm-card__email:before {
    background-image: url(__BASE_URL__/img/evenlope-dark.png);
}

.dg-map-geoclicker-purpose__street:before {
    background-image: url(__BASE_URL__/img/street-dark.png);
}

.building-callout__list-item:before {
    background: #aaa;
}

.firm-card__comment {
    color: #aaa;
}

.schedule__now {
    color: #aaa;
}

.schedule__td {
    color: #e6e6e6;
}

.schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
}

.schedule__string-time {
    color: #e6e6e6;
}

.firm-card__aa-list-item:after {
    color: #e6e6e6;
}

.firm-card__rubrics-list-item:after {
    color: #6e6964;
}

.firm-card__rubrics {
    color: #aaa;
}
