.dg-popup-header-title {
    color: #ffc84b;
}

.dg-map-geoclicker-drilldown {
    color: #aaa;
}

.popup_footer_btn-wrapper a{
    color: #e6e6e6;
}
.popup_footer_btn {
    background: #000;
    background: rgba(0,0,0,.2);
    box-shadow: 0 1px rgba(0,0,0,.1);
}
.popup_footer_btn:hover {
    background: #222;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}