.dg-control-round_icon__locate:before {
    image('DGLocation_WhiteGeoActive')
}

.dg-control-round_icon__locate:before:hover {
    image('DGLocation_WhiteGeoHover')
}

.dg-control-round_icon__locate__requesting:before {
    background-image: url(__BASE_URL__/img/DGLocation_geoInProgress-white.png);
}

.leaflet-retina .dg-control-round_icon__locate__requesting:before {
    background-image: url(__BASE_URL__/img/DGLocation_geoInProgress-white-2x.png);
}
