<div class="scroller" id="scroller">
    <div class="dg-popup-container">{content}</div>
    <div class="scroller__bar-wrapper" id="scroller__bar-wrapper"><div class="scroller__bar" id="scroller__bar"></div></div>
</div>
