.dg-attribution {
    background-color: transparent !important;
}

.dg-attribution__copyright {
    display: flex;
    align-items: center;
    margin: 0 0 5px;
    text-align: right;
    white-space: nowrap;
    font-size: 9px;
    font-family: Helvetica, Arial, sans-serif;
}

.dg-attribution__links {
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
}

.dg-attribution__link-item {
    padding: 0;
    list-style-type: none;
}

.leaflet-container .dg-attribution__link {
    background: linear-gradient(to right, rgba(8, 8, 8, .3), rgba(8, 8, 8, .3) 100%) 0 95% repeat-x;
    background-size: 10px 1px;
    color: #333;
    text-decoration: none;
    font-size: 9px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to right, #080808, #080808 100%);
        color: #333;
        text-decoration: none;
    }
}

.dg-attribution__logo-url {
    .notRepeatableBgWithSizes('DGAttribution__logo');
    margin: 0 3px 0 0;
}


.dg-attribution__open2gis-button {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding: 4px 6px 4px 4px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    line-height: 14px;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    cursor: pointer;
    transition: all .1s;
    height: 22px;
    min-width: 101px;

    .no-touch &:hover {
        transition: all .2s; /* @TODO: all? */
        background: #e7f3ff;
    }
}


.dg-attribution__open2gis-icon-button:before {
    display: inline-block;
    margin: -1px 4px 0 0;
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    vertical-align: middle;
}

.dg-attribution__button-wrapper {
    margin-left: 3px;
    .dg-attribution__open2gis-button {
    color: #454C4F;

         .no-touch &:hover {
          color: #286482;
        }
    }
}



.dg-attribution__open2gis-button_name_open:before {
    .notRepeatableBgWithSizes('DGAttribution_pin');
}
