a.dg-mapcopyright__apilink,
a.dg-mapcopyright__license {
    background-image: url("http://maps.api.2gis.ru/analytics/dg-tilelayer-base-copyright.png");
    -ms-filter: e("progid:DXImageTransform.Microsoft.Alpha(Opacity=70)");
    filter: e("alpha(opacity=70)");
    
    &:hover {
        -ms-filter: e("progid:DXImageTransform.Microsoft.Alpha(Opacity=100)");
        filter: e("alpha(opacity=100)");
        }
    }

.dg-mapcopyright_lang_ru a.dg-mapcopyright__apilink {
    background-position: -29px -2px;
    }
.dg-mapcopyright_lang_it a.dg-mapcopyright__apilink {
    background-position: -81px -24px;
    }
.dg-mapcopyright_lang_en a.dg-mapcopyright__apilink {
    background-position: -81px -46px;
    }
.dg-mapcopyright_lang_cs a.dg-mapcopyright__apilink {
    background-position: -81px -67px;
    }

.dg-mapcopyright_lang_ru a.dg-mapcopyright__license {
    background-position: 0 -13px;
    }
.dg-mapcopyright_lang_it a.dg-mapcopyright__license {
    background-position: -41px -35px;
    }
.dg-mapcopyright_lang_en a.dg-mapcopyright__license {
    background-position: -31px -56px;
    }
.dg-mapcopyright_lang_cs a.dg-mapcopyright__license {
    background-position: -31px -76px;
    }
