.leaflet-popup-content-wrapper {
    background-color: rgba(50, 50, 50, .9);
}

.leaflet-popup-tip-container_image {
    .notRepeatableBg('DGPopup__popupShadow_dark', true);
}

.leaflet-map-pane .leaflet-popup-tip-container_svg {
    fill: rgba(50, 50, 50, .9);
}

.leaflet-container a.leaflet-popup-close-button {
    .no-touch &:hover {
        background-color: #222;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    }

    &:after {
        top: -3px;
        right: -5px;
        width: 40px;
        height: 40px;
    }
}
