.dg-attribution__copyright {
    position: absolute;
    right: 65px;
    bottom: 5px;
    text-align: right;
    white-space: nowrap;
    font: 9px/12px Helvetica,Arial,sans-serif;
}

.dg-attribution__links {
    list-style: none;
    margin: 0;
}

.dg-attribution__links:after {
    content: ' ';
    display:block;
    width: 56px;
    height: 25px;
    position: absolute;
    top: 0;
    background: url(__BASE_URL__/img/DGAttribution_logo.svg) no-repeat;
    right: -60px;
}

.leaflet-container .dg-attribution__link {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    background-position: 0 95%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(8,8,8,.3),rgba(8,8,8,.3)100%);
}

.leaflet-container .dg-attribution__link:hover {
    color: #333;
    background-image: linear-gradient(to right,#080808,#080808 100%);
}
