.leaflet-container .leaflet-control-attribution {
    background-color: transparent !important;
}

.dg-attribution__copyright {
    margin-right: 55px;
    margin-bottom: 5px;
    text-align: right;
    white-space: nowrap;
    font: 9px/12px Helvetica,Arial,sans-serif;
}

.leaflet-touch .dg-attribution__copyright {
    margin-top: 90px;
}

.dg-attribution__links {
    list-style: none;
    margin: 0;
    padding: 0 5px 0 0;
    display: inline-block;
}

.dg-attribution__logo_url {
    position: absolute;
    width: 55px;
    height: 26px;
    background-image: url(__BASE_URL__/img/DGAttribution_logo.svg);
}

.leaflet-container .dg-attribution__link {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    background-position: 0 95%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(8,8,8,.3),rgba(8,8,8,.3)100%);
}

.leaflet-container .dg-attribution__link:hover {
    color: #333;
    background-image: linear-gradient(to right,#080808,#080808 100%);
}
