.dg-control-round:before {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
}
.dg-control-round {
    filter: unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/DGRoundControl_round-control-light.png',
    sizingMethod='scale')");
}

.leaflet-disabled.dg-control-round,
.leaflet-disabled.dg-control-round:hover {
    filter: unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/DGRoundControl_round-control-disabled-light.png',
    sizingMethod='scale')");
}

.dg-control-round:hover,
.dg-control-round__active.dg-control-round:hover {
    filter: unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/DGRoundControl_round-control-hover-light.png',
    sizingMethod='scale')");
}

.dg-control-round:active, .dg-control-round__active.dg-control-round {
    filter: unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/DGRoundControl_round-control-active-light.png',
    sizingMethod='scale')");
}
