.leaflet-container {
    background: #F7F3DF;
    }
    .leaflet-container .leaflet-control-attribution {
        background-color: transparent;
        box-shadow: none;
        }

.dg-mapcopyright {
    display: none;
    }

.dg-mapcopyright_lang_ru,
.dg-mapcopyright_lang_en,
.dg-mapcopyright_lang_cs,
.dg-mapcopyright_lang_it {
    position: relative !important;
    right: 2px;
    bottom: 5px;
    display: block !important;
    height: 26px !important;
    }
    a.dg-mapcopyright__logolink {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        display: block !important;
        overflow: hidden !important;
        width: 60px !important;
        height: 26px !important;
        outline: none !important;
        border: none !important;
        color: transparent !important;
        cursor: pointer !important;
        }
        .dg-mapcopyright__logo {
            position: absolute !important;
            top: 1px !important;
            right: 1px !important;
            display: block !important;
            overflow: hidden !important;
            width: 56px !important;
            height: 25px !important;
            border: none !important;
            background: url("http://maps.api.2gis.ru/analytics/dg-tilelayer-base-copyright.png") -304px 0 no-repeat;
            color: transparent !important;
            }

    a.dg-mapcopyright__apilink,
    a.dg-mapcopyright__license {
        position: absolute !important;
        display: block !important;
        overflow: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
        height: 10px !important;
        outline: none !important;
        background-image:
            url("http://maps.api.2gis.ru/analytics/dg-tilelayer-base-copyright.png"),
            url("http://maps.api.2gis.ru/analytics/dg-tilelayer-base-copyright.png");
        background-repeat: no-repeat !important;
        color: transparent !important;
        text-decoration: none;
        text-indent: -9999px !important;
        font-size: 9px !important;
        opacity: 0.7 !important;
        cursor: pointer !important;
        transition: opacity 0.15s ease-out;
        }
    a.dg-mapcopyright__apilink:hover,
    a.dg-mapcopyright__license:hover {
        opacity: 1 !important;
        }
    .dg-mapcopyright_lang_ru a.dg-mapcopyright__apilink {
        top: 6px !important;
        right: 60px !important;
        width: 84px !important;
        background-position:
            -29px -2px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_ru a.dg-mapcopyright__apilink:hover {
        background-position:
            -29px -2px,
            -182px -2px;
        }
    .dg-mapcopyright_lang_en a.dg-mapcopyright__apilink {
        top: 6px !important;
        right: 60px !important;
        width: 32px !important;
        background-position:
            -81px -46px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_en a.dg-mapcopyright__apilink:hover {
        background-position:
            -81px -46px,
            -236px -46px;
        }
    .dg-mapcopyright_lang_it a.dg-mapcopyright__apilink {
        top: 6px !important;
        right: 60px !important;
        width: 32px !important;
        background-position:
            -81px -24px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_it a.dg-mapcopyright__apilink:hover {
        background-position:
            -81px -24px,
            -234px -24px;
        }
    .dg-mapcopyright_lang_cs a.dg-mapcopyright__apilink {
        top: 6px !important;
        right: 60px !important;
        width: 32px !important;
        background-position:
            -81px -67px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_cs a.dg-mapcopyright__apilink:hover {
        background-position:
            -81px -67px,
            -236px -67px;
        }

    .dg-mapcopyright_lang_ru a.dg-mapcopyright__license {
        top: 16px !important;
        right: 60px !important;
        width: 113px !important;
        background-position:
            0 -13px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_ru a.dg-mapcopyright__license:hover {
        background-position:
            0 -13px,
            -153px -13px;
        }
    .dg-mapcopyright_lang_it a.dg-mapcopyright__license {
        top: 16px !important;
        right: 60px !important;
        width: 72px !important;
        background-position:
            -41px -35px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_it a.dg-mapcopyright__license:hover {
        background-position:
            -41px -35px,
            -194px -35px;
        }
    .dg-mapcopyright_lang_en a.dg-mapcopyright__license {
        top: 16px !important;
        right: 60px !important;
        width: 80px !important;
        background-position:
            -31px -56px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_en a.dg-mapcopyright__license:hover {
        background-position:
            -31px -56px,
            -185px -57px;
        }
    .dg-mapcopyright_lang_cs a.dg-mapcopyright__license {
        top: 16px !important;
        right: 60px !important;
        width: 80px !important;
        background-position:
            -31px -76px,
            -9999px -9999px;
        }
    .dg-mapcopyright_lang_cs a.dg-mapcopyright__license:hover {
        background-position:
            -31px -76px,
            -185px -76px;
        }
