.dg-label {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    max-height: none;
    width: 300px;
    user-select: none;
}

.dg-label__content {
    display: inline-block;
    overflow: hidden;
    padding: 3px 7px;
    min-width: 30px;
    max-width: 300px;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    font-size: 12px;
}

.dg-label_name_location-error {
    .leaflet-top & {
        top: 5px;
    }
    .leaflet-right & {
        right: 40px;
        left: auto;
        text-align: right;
    }
    .leaflet-bottom & {
        top: 4px;
    }
    .leaflet-left & {
        left: 40px;
    }
}
