.dg-control-round {
    .alphaImage('DGRoundControl__button_light');

    &:before {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        }
    }
.dg-control-round:hover,
.dg-control-round_state_active:hover {
    .alphaImage('DGRoundControl__buttonHover_light');
    }
.dg-control-round:active,
.dg-control-round_state_active {
    .alphaImage('DGRoundControl__buttonActive_light');
    }
.leaflet-disabled.dg-control-round,
.leaflet-disabled.dg-control-round:hover {
    .alphaImage('DGRoundControl__buttonDisabled_light');
    }
