.dg-control-round {
    .alphaImage('DGRoundControl__button_light');

    &:hover {
        .alphaImage('DGRoundControl__buttonHover_light');
        }

    &:active {
        .alphaImage('DGRoundControl__buttonActive_light');
        }

    &:before {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        }
    }
.dg-control-round_state_active {
    .alphaImage('DGRoundControl__buttonActive_light');

    &:hover {
        .alphaImage('DGRoundControl__buttonHover_light');
        }
    }
.leaflet-disabled.dg-control-round {
    .alphaImage('DGRoundControl__buttonDisabled_light');
    }
