.dg-control-round {
    .alphaImage('@{baseURL}/img/DGRoundControl_round-control-light.png');

    &:before {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        }
    }
.dg-control-round:hover,
.dg-control-round_state_active:hover {
    .alphaImage('@{baseURL}/img/DGRoundControl_round-control-hover-light.png');
    }
.dg-control-round:active,
.dg-control-round_state_active {
    .alphaImage('@{baseURL}/img/DGRoundControl_round-control-active-light.png');
    }
.leaflet-disabled.dg-control-round,
.leaflet-disabled.dg-control-round:hover {
    .alphaImage('@{baseURL}/img/DGRoundControl_round-control-disabled-light.png');
    }
