.dg-control-round {
    background-color: #3d3d3d; // 24%
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
}

.dg-control-round__icon {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .4);

    .no-touch &:hover {
        box-shadow: inset 0 1px #fff, 0 0 0 1px rgba(0, 0, 0, .3), 0 1px 0 1px rgba(0, 0, 0, .4);
    }

    &:active,
    .no-touch &:active,
    &_state_active {
        box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .3), 0 -1px 1px 0 #000;
    }

    .leaflet-disabled &,
    .no-touch .leaflet-disabled &:hover,
    .leaflet-disabled &:active {
        background-color: #b8b8b8; // 72%
        box-shadow: none;
    }
}
