.dg-control-round.dg-zoom__out {
    width: 32px;
    height: 32px;
}

.dg-control-round_icon.dg-zoom__out-button:before { /* Плашка для визуального слития двух кнопок в одну */
    top: -2px;
}