stats {
    .repeatableBg;
    .notRepeatableBg;
    repeatable: '@{repeatableBgNames}';
    notRepeatableSprited: '@{notRepeatableBgNamesSprited}';
    notRepeatableNotSprited: '@{notRepeatableBgNamesNotSprited}';
}
