.firm-card__address {
    position: relative;
    margin: 13px 0 9px 24px;
    font: 16px/16px Arial;
    }
    .firm-card__address:before {
        position: absolute;
        top: 3px;
        left: -24px;
        width: 9px;
        height: 11px;
        background-size: contain;
        content: '';
        }

.firm-card__comment {
    position: relative;
    top: 1px;
    margin: 0 0 0 5px;
    vertical-align: top;
    font: 12px/16px Arial;
    }

.firm-card__phone {
    position: relative;
    overflow: hidden;
    padding: 0 0 4px 24px;
    text-overflow: ellipsis;
    }
    .firm-card__phone:before {
        position: absolute;
        top: 3px;
        left: 0;
        width: 10px;
        height: 10px;
        background-size: contain;
        content: '';
        }

    .firm-card__phone-num {
        white-space: nowrap;
        }

.firm-card__link {
    position: relative;
    overflow: hidden;
    margin: 0 0 4px;
    padding: 0 0 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 16px;
    }
    .firm-card__link:before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 11px;
        height: 11px;
        background-size: contain;
        content: '';
        }

    .firm-card__email:before {
        top: 5px;
        height: 8px;
        }

.firm-card__rubrics {
    overflow: hidden;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    }
    .firm-card__rubrics-list {
        margin: 0;
        padding: 0;
        list-style: none;
        }
        .firm-card__rubrics-list-item {
            display: inline;
            cursor: default;
            }

.firm-card__aa {
    margin: 0 0 4px;
    padding: 0 0 0 24px;
    font-size: 12px;
    }

.firm-card__aa-list,
.firm-card__aa-list-additional {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
    }

.firm-card__aa-list-item {
    display: inline;
    box-sizing: border-box;
    max-width: 100%;
    cursor: default;
    }
    .firm-card__rubrics-list-item:before,
    .firm-card__aa-list-item:before {
        display: inline-block;
        margin: 0 4px;
        content: '•';
        }
    .firm-card__rubrics-list-item:first-child:before,
    .firm-card__aa-list-item:first-child:before {
        margin: 0;
        content: '';
        }

.firm-card__schedule {
    margin: 0 0 10px;
    }


.schedule__no-table {
    border-bottom: none !important;
    cursor: default !important;
    }
    .schedule__no-table:after {
        background-image: none !important;
        }

.schedule__today {
    position: relative;
    display: inline-block;
    margin-left: 24px;
    border-bottom: 1px dashed #aaa5a0;
    font-size: 14px;
    line-height: 11px;
    cursor: pointer;
    }
    .schedule__today:before {
        position: absolute;
        top: 0;
        left: -24px;
        width: 11px;
        height: 11px;
        background-size: contain;
        content: '';
        }
    .schedule__today:after {
        position: absolute;
        right: -12px;
        bottom: 2px;
        width: 10px;
        height: 6px;
        background-size: contain;
        content: '';
        }

.schedule__now {
    margin: 1px 7px 0px 36px;
    font-size: 12px;
    }

.schedule__string {
    padding: 3px 16px 3px 24px;
    text-align: left;
    font-size: 14px;
    }
    .schedule__string-time {
        white-space: nowrap;
        }

.schedule__table {
    display: none;
    text-align: center;
    font-size: 0;
    }
    .schedule__tc {
        display: inline-block;
        padding: 2px 0 15px;
        width: 47px;
        vertical-align: top;
        font-size: 14px;
        }
    .schedule__tc_pre {
        width: 19px;
        }
        .schedule__day-name {
            margin: 0;
            color: #8c8782;
            text-transform: capitalize;
            }
        .schedule__td {
            margin: 10px 0 0;
            }

.schedule_state_expanded .schedule__popup {
    display: block;
    visibility: visible;
    max-height: 1000px;
    opacity: 1;
    }

.schedule_open_true:before {
    image('DGGeoclicker_clock-on');
    }

.schedule__table-clock {
    margin: 14px 0 0 0;
    width: 11px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    }

.schedule__table-lunch {
    margin: 16px 0 0 0;
    width: 11px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    }

.link_type_local {
    background: linear-gradient(to right, #99ccdd, #99ccdd 50%, transparent 50%);
    }
.link_type_local:hover {
    background: linear-gradient(to right, #99bbcc, #99bbcc 50%, transparent 50%);
    }

.link,
.link:hover {
    background-position: 0 95%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    }

.link.link_type_local,
.link.link_type_local:hover {
    background-size: 6px 1px;
    }
