.popup-header-link {
    display: inline-block;
    margin-left: 2.5em;
    vertical-align: middle;
    }
.popup-header-link:first-child {
    margin-left: 1.2em;
    }

.popup-link {
    position: relative;
    height: 14px;
    background-size: contain;
    background-repeat: repeat-x;
    line-height: 14px;
    }

.popup-link_type_flamp_reviews {
    margin-left: 0.1em;
    }

.popup-link_type_flamp_stars {
    display: inline-block;
    margin: 0 .4em 3px 0;
    width: 70px;
    vertical-align: middle;
    bg('DGGeoclicker_star-off-light');
    }
    .popup-link_type_flamp_stars div {
        width: 0;
        height: 14px;
        bg('DGGeoclicker_star-on')
        }

.popup-link_type_booklet:before,
.popup-link_type_photos:before {
    position: absolute;
    top: 2px;
    left: -16px;
    display: inherit;
    width: 12px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    }
.popup-link_type_booklet:before {
    image('DGGeoclicker_booklet');
    }
