.leaflet-popup-inner {
    opacity: .95;
    }

.leaflet-popup-content-wrapper {
    border: 1px solid #bebdb5;
    border: 1px solid rgba(151,151,151,.6);
    background-color: #fff;
    color: #000;
    }

.leaflet-popup-tip-container_image {
    background-image: url(__BASE_URL__/img/DGCustomization_tail-white.png);
    }

.leaflet-popup-tip-container_svg {
    fill: #fff;
    stroke: #bebdb5;
    stroke-dasharray: 0,10,100,60;
    margin-top: -2px;
    }
a.popup-link,
.firm-card__link a {
    background-image: linear-gradient(to right, rgba(0,91,143,.3), rgba(0,91,143,.3) 100%);
    color: #005b8f;
    }
a.popup-link:hover,
.firm-card__link a:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3) 100%);
    color: #000;
    }

.leaflet-container a.leaflet-popup-close-button:hover {
    background-color: #f5faff;
    color: #6fa4d9;
    }
.leaflet-container a.leaflet-popup-close-button:active {
    background-color: #eee;
    }
    .leaflet-container a.leaflet-popup-close-button:after {
        top: -3px;
        right: -5px;
        width: 40px;
        height: 40px;
        }

.leaflet-popup-scrolled .dg-popup-header:after,
.leaflet-popup-scrolled .dg-popup-footer:before {
    background-color: #eee;
    }
