/*CALLOUT*/
.leaflet-popup-inner {
    opacity: .95;
}
.leaflet-popup-content-wrapper {
    color: #000;
    background-color: #fff;
    border: 1px solid #bebdb5;
    border: 1px solid rgba(151,151,151,.6);
}

.leaflet-popup-tip-container {
    background-image: url(../img/callout-tail-white.png);
    width: 58px;
    height: 47px;
    margin-top: -1px;
}

a.popup-link,
.firm-card__link a {
    color: #005b8f;
    background-image: linear-gradient(to right, rgba(0,91,143,.3), rgba(0,91,143,.3) 100%);
}
a.popup-link:hover,
.firm-card__link a:hover {
    color: #000;
    background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3) 100%);
}

.leaflet-popup-content-wrapper {
    color: #000;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    background-color: #f5faff;
    color: #6fa4d9;
}
.leaflet-container a.leaflet-popup-close-button:active {
    background-color: #eee;
}

.leaflet-container a.leaflet-popup-close-button:after {
    right: -5px;
    top: -3px;
    width: 40px;
    height: 40px;
}
.leaflet-popup-scrolled .dg-popup-header:after,
.leaflet-popup-scrolled .dg-popup-footer:before {
    background-color: #eee;
}
