.dg-control-round:before {
    /*content: '';*/
    background: none;
    /*background: rgba(240,240,240,.8);*/
    /*position: absolute;*/
    margin: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 0;
    border: none;
}
.dg-control-round {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/light-round-control.png',
    sizingMethod='scale');
}

.leaflet-disabled.dg-control-round,
.leaflet-disabled.dg-control-round:hover {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/light-round-control-disabled.png',
    sizingMethod='scale');
}

.dg-control-round:hover,
.dg-control-round__active.dg-control-round:hover {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/light-round-control-hover.png',
    sizingMethod='scale');
}

.dg-control-round:active, .dg-control-round__active.dg-control-round {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='__BASE_URL__/img/light-round-control-active.png',
    sizingMethod='scale');
}