.leaflet-control-locate a {
	background-image: url(__BASE_URL__/img/locate.png);
}

.leaflet-control-locate.requesting a {
	background-image: url(__BASE_URL__/img/spinner.gif);
	background-position: 50% 50%;
}

.leaflet-control-locate.active a {

}

.dg-locate-pin{
	background: url("__BASE_URL__/img/pin.png") no-repeat;
	width: 20px;
	height: 20px;
}

.leaflet-touch .leaflet-bar a {
	width: 26px;
	height: 26px;
	border-radius: 4px !important;
}

.leaflet-bar {
	box-shadow: none;
}

.location-error {
	margin-left: 30px;
	margin-top: -25px;
	top: 50%;
	left: 50%;
	height: 25px;
	width: 140px;
	text-align: center;
	line-height: 25px;
	color: #727170;
	font-size: 11px;
	background: #fff;
	border: 1px solid #cfcfcf;
	border-radius: 2px;
	z-index: 5;
}