.dg-control-round__icon_name_fullscreen:before {
    width: 16px;
    height: 16px;
    background-size: contain;
    }
.dg-control-round__icon_name_fullscreen.dg-control-round__icon_state_active:before {
    .noRepeatableBg('DGRoundControl__fullscreenIconActive');
    }
