.leaflet-container:fullscreen {
    width: 100% !important;
    height: 100% !important;
    }

.dg-control-round__icon_name_fullscreen {}

    .dg-control-round__icon_name_fullscreen:before {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        }

    .dg-control-round__icon_name_fullscreen.dg-control-round__icon_state_active:before {
        .image('DGFullScreen_FullScreenPressed');
        }
