/* baron */

.scroller {
    height: auto;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}

.scroller::-webkit-scrollbar {
    width: 0;
}

.scroller__bar-wrapper {
    position: absolute;
    top: 30px;
    bottom: 10px;
    right: 17px;
    width: 6px;
    border-radius: 5px;
}

.scroller__bar-wrapper-with-header {
    top: 25px;
    bottom: 25px;
}

.scroller__bar-wrapper .scroller__bar {
    background-color: rgba(100, 98, 86, 0.85);
}

.scroller__bar-wrapper:hover .scroller__bar {
    background-color: rgba(100, 98, 86, 0.5);
}

.scroller__bar {
    position: absolute;
    width: 6px;
    border-radius: 3px;
    pointer-events: auto;
    min-height:20px;
}

.header__title {
   background: #fff;
   margin-bottom: 5px;
}

.dg-baron-hide {
    overflow: auto;
}
.dg-baron-hide .scroller__bar-wrapper {
    visibility: hidden;
}
