/*callout*/
.leaflet-popup-inner {
    opacity: .9;
}
.leaflet-popup-content-wrapper {
    color: #f0f0f0;
    background-color: #323232;
}

.leaflet-popup-tip-container_image {
    background-image: url(__BASE_URL__/img/callout-tail-dark.png);
}

.leaflet-popup-tip-container_svg {
    fill: #323232;
}

a.popup-link,
.firm-card__link a {
    color: #ffe6aa;
    background-image: linear-gradient(to right, rgba(255,230,170,.3), rgba(255,230,170,.3) 100%);
}
a.popup-link:hover,
.firm-card__link a:hover {
    color: #9cd;
    background-image: linear-gradient(to right, rgba(153,204,221,.3), rgba(153,204,221,.3) 100%);
}

.leaflet-popup-content-wrapper {
    color: #e6e6e6;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.leaflet-container a.leaflet-popup-close-button:active {
    background-color: #323232;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.leaflet-container a.leaflet-popup-close-button:after {
    right: -5px;
    top: -3px;
    width: 40px;
    height: 40px;
}
.leaflet-popup-scrolled .dg-popup-header:after,
.leaflet-popup-scrolled .dg-popup-footer:before {
    background-color: #494949;
    border-bottom: 1px solid #636363;
}
