.leaflet-popup-content-wrapper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.schedule__tc_active_true {
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#63ffffff', endColorstr='#63ffffff');
}

.schedule__tc_active_true > .schedule__day-name {
    color: #e6e6e6;
}
