.dg-control-round_icon__locate:before {
	background-image: url(../img/WhiteGeoActive.png);
}
.dg-control-round_icon__locate__active:before {
	background-image: url(../img/GeoPressed.png);

}
.dg-control-round_icon__locate:before:hover {
	background-image: url(../img/WhiteGeoHover.png);
}

.dg-control-round_icon__locate__requesting:before {
	background-image: url(../img/WhiteGeoInProgress.png);
}

.leaflet-retina .dg-control-round_icon__locate:before {
	background-image: url(../img/RetinaWhiteGeoActive.png);
}
.leaflet-retina .dg-control-round_icon__locate__active:before {
	background-image: url(../img/RetinaGeoPressed.png);
}

.leaflet-retina .dg-control-round_icon__locate:before:hover {
	background-image: url(../img/RetinaWhiteGeoHover.png);
}
.leaflet-retina .dg-control-round_icon__locate__requesting:before {
	background-image: url(../img/RetinaWhiteGeoInProgress.png);
}