.dg-control-round_icon__locate:before {
	background-image: url(__BASE_URL__/img/WhiteGeoActive.png);
}
.dg-control-round_icon__locate__active:before {
	background-image: url(__BASE_URL__/img/GeoPressed.png);

}
.dg-control-round_icon__locate:before:hover {
	background-image: url(__BASE_URL__/img/WhiteGeoHover.png);
}

.dg-control-round_icon__locate__requesting:before {
	background-image: url(__BASE_URL__/img/WhiteGeoInProgress.png);
}

.leaflet-retina .dg-control-round_icon__locate:before {
	background-image: url(__BASE_URL__/img/RetinaWhiteGeoActive.png);
}
.leaflet-retina .dg-control-round_icon__locate__active:before {
	background-image: url(__BASE_URL__/img/RetinaGeoPressed.png);
}

.leaflet-retina .dg-control-round_icon__locate:before:hover {
	background-image: url(__BASE_URL__/img/RetinaWhiteGeoHover.png);
}
.leaflet-retina .dg-control-round_icon__locate__requesting:before {
	background-image: url(__BASE_URL__/img/RetinaWhiteGeoInProgress.png);
}