.dg-control-round_icon__locate:before {
    image('DGLocation_BlackGeoActive')
}

.dg-control-round_icon__locate:before:hover {
    image('DGLocation_BlackGeoHover')
}

.dg-control-round_icon__locate__requesting:before {
    background-image: url(__BASE_URL__/img/DGLocation_geoInProgress-black.png);
}

.leaflet-retina .dg-control-round_icon__locate__requesting:before {
	background-image: url(__BASE_URL__/img/DGLocation_geoInProgress-black-2x.png);
}
