<img class="dg-ruler-label-spacer" src="<%=blankgif%>" width="26" height="26" />
<div class="dg-ruler-label-inner">
	<div class="dg-ruler-label-point"></div>
	<span class="dg-ruler-label-distance">0 км</span>
	<a class="dg-ruler-label-delete" href="#"></a>
</div>