.dg-building-callout__body {
    position: relative;
    }
    .dg-building-callout__body:first-child:before {
        position: absolute;
        top: 1px;
        left: 0px;
        width: 9px;
        height: 11px;
        background-size: contain;
        content: '';
        }

    .dg-building-callout__list {
        margin: 8px 8px 8px 24px;
        padding: 0;
        color: #ffe6aa;
        list-style: none;
        }
        .dg-building-callout__list-item {
            position: relative;
            margin: 0 0 4px;
            font: 12px/16px Arial, sans-serif;
            
            &:before {
                position: absolute;
                top: 6px;
                left: -21px;
                width: 6px;
                height: 6px;
                background-size: contain;
                content: '';
                }
            }
