.dg-building-callout__body {
    position: relative;
}

.dg-building-callout__list {
    margin-bottom: 8px;
    padding-left: 24px;
    color: #ffe6aa;
    list-style: none;
}

.dg-building-callout__list-item {
    position: relative;
    margin-bottom: 4px;
    font-size: 12px;

    &:before {
        position: absolute;
        top: 5px;
        left: -21px;
        content: '';
    }
}
