.dg-firm-card__address {
    position: relative;
    margin: 13px 0 9px 24px;
    font: 16px/16px Arial, sans-serif;
    
    &:before {
        position: absolute;
        top: 3px;
        left: -24px;
        width: 9px;
        height: 11px;
        background-size: contain;
        content: '';
        }
    }
    .dg-firm-card__comment {
        position: relative;
        top: 1px;
        margin: 0 0 0 5px;
        vertical-align: top;
        font-size: 12px;
        }

.dg-firm-card__phone {
    position: relative;
    overflow: hidden;
    padding: 0 0 4px 24px;
    text-overflow: ellipsis;
    
    &:before {
        position: absolute;
        top: 3px;
        left: 0;
        width: 10px;
        height: 10px;
        background-size: contain;
        content: '';
        }
    }
    .dg-firm-card__phone-num {
        white-space: nowrap;
        }

.dg-firm-card__link {
    position: relative;
    overflow: hidden;
    margin: 0 0 4px;
    padding: 0 0 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    line-height: 16px;
    
    &:before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 11px;
        height: 11px;
        background-size: contain;
        content: '';
        }
    }
    .dg-firm-card__link a {
        background-position: center bottom;
        background-size: 10px 1px;
        background-repeat: repeat-x;
        text-decoration: none;
        }

    .dg-firm-card__email:before {
        top: 5px;
        height: 8px;
        }

.dg-firm-card__rubrics {
    overflow: hidden;
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    }
    .dg-firm-card__rubrics-list {
        margin: 0;
        padding: 0;
        list-style: none;
        }
        .dg-firm-card__rubrics-list-item {
            display: inline;
            cursor: default;

            &:before {
                display: inline-block;
                margin: 0 4px;
                content: '•';
                }

            &:first-child:before {
                margin: 0;
                content: '';
                }
            }

.dg-firm-card__aa {
    margin: 0 0 4px;
    padding: 0 0 0 24px;
    font-size: 12px;
    }

.dg-firm-card__aa-list {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
    }
    .dg-firm-card__aa-list-item {
        display: inline;
        box-sizing: border-box;
        max-width: 100%;
        cursor: default;

        &:before {
            display: inline-block;
            margin: 0 4px;
            content: '•';
            }

        &:first-child:before {
            margin: 0;
            content: '';
            }
        }

.dg-firm-card__aa-list-additional {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
    }

.dg-firm-card__schedule {
    margin: 0 0 10px;
    }
