.dg-link,
.dg-link:hover {
    background-position: 0 95%;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

.dg-link_type_local {
    background: linear-gradient(to right, #99ccdd, #99ccdd 50%, transparent 50%);

    .no-touch &:hover {
        background: linear-gradient(to right, #99bbcc, #99bbcc 50%, transparent 50%);
    }
}

.dg-link.dg-link_type_local,
.dg-link.dg-link_type_local:hover {
    background-size: 6px 1px;
}
