.dg-map-geoclicker__address {
    margin-bottom: 10px;
    font-size: 16px;

    .dg-map-geoclicker__purpose + & {
        margin-top: -6px;
    }
}

.dg-map-geoclicker__address-header {
    position: relative;
    margin-bottom: 4px;
    padding-left: 24px;

    &:first-child:before {
        position: absolute;
        top: 5px;
        left: 1px;
        content: '';
    }
}

.dg-map-geoclicker__address-drilldown {
    position: relative;
    margin-bottom: 4px;
    padding-left: 24px;
    color: #aaa;
    font-size: 12px;

    &:first-child:before {
        position: absolute;
        top: 2px;
        left: 1px;
        content: '';
    }
}

.dg-map-geoclicker__purpose {
    position: relative;
    margin-bottom: 10px;
    padding-left: 24px;
    font-size: 16px;

    .dg-map-geoclicker__address + & {
        margin-top: -6px;
    }

    &:before {
        position: absolute;
        top: 4px;
        left: 2px;
        content: '';
    }

    &_type_street:before {
        top: 4px;
    }
}

.dg-map-geoclicker__sight-description {
    overflow: hidden;
    padding: .5em 0 0 24px;
    max-height: 3.6em;
}

a.dg-map-geoclicker__show-more-sights-link {
    position: relative;
    margin-left: 24px;
    border-bottom: 1px dotted;
    text-decoration: none;

    &:after {
        position: absolute;
        top: 4px;
        margin-left: 5px;
        width: 6px;
        height: 10px;
        content: '';
        font-weight: bold;
    }
}

.dg-map-geoclicker__clamped-line {
    display: block;
    white-space: nowrap;
}

.dg-map-geoclicker__clamped-line_last {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.dg-map-geoclicker__preloader-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dg-map-geoclicker__drilldown {
    margin-bottom: 10px;
}
