.dg-popup__header-link {
    display: inline-block;
    margin-left: 2.5em;
    vertical-align: middle;
    }
.dg-popup__header-link:first-child {
    margin-left: 1.2em;
    }

.dg-popup__link {
    position: relative;
    height: 14px;
    background-size: contain;
    background-repeat: repeat-x;
    line-height: 14px;
    }

.dg-popup__link_type_flamp_reviews {
    margin-left: 0.1em;
    }

.dg-popup__link_type_flamp_stars {
    display: inline-block;
    margin: 0 .4em 3px 0;
    width: 70px;
    vertical-align: middle;
    }
    /* @TODO: ... > div?,  */
    .dg-popup__link_type_flamp_stars div {
        width: 0;
        height: 14px;
        .bg('DGGeoclicker_star-on');
        }

.dg-popup__link_type_booklet:before,
.dg-popup__link_type_photos:before {
    position: absolute;
    top: 2px;
    left: -16px;
    display: inherit;
    width: 12px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    }
.dg-popup__link_type_booklet:before {
    .image('DGGeoclicker_booklet');
    }
