@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'SuisseCond';
    src: url('@{baseURL}/fonts/suisseintl-cond.eot');
    src: url('@{baseURL}/fonts/suisseintl-cond.eot?#iefix') format('embedded-opentype'),
         url('@{baseURL}/fonts/suisseintl-cond.woff') format('woff'),
         url('@{baseURL}/fonts/suisseintl-cond.ttf') format('truetype'),
         url('@{baseURL}/fonts/suisseintl-cond.svg#suisse_intlcondensed') format('svg');
    }

.dg-map-geoclicker__address {
    padding: 0 0 0 24px;
    color: #aaa;
    font: 12px/16px Arial;
    }
    .dg-map-geoclicker__address-header {
        position: relative;
        margin: 6px 0 2px 24px;
        font: 16px/16px Arial;
        }

.dg-building-callout__body {
    position: relative;
    }
    .dg-building-callout__body:first-child:before {
        position: absolute;
        top: 1px;
        left: 0px;
        width: 9px;
        height: 11px;
        background-size: contain;
        content: '';
        }

.dg-map-geoclicker__drilldown {
    padding: 0 0 0 24px;
    font: 12px/16px Arial;
    }

.dg-map-geoclicker__elevation {
    display: block;
    margin-bottom: 1px;
    color: #a0a0a0;
    font-size: 15px;
    }

.dg-map-geoclicker__purpose {
    position: relative;
    padding: 3px 0 2px 24px;
    font-size: 16px;
    
    &:before {
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
        }
    }
    .dg-map-geoclicker__purpose_type_street:before {
        width: 12px;
        }
    .dg-map-geoclicker__purpose_type_settlement:before {
        width: 12px;
        background-image: url('@{baseURL}/img/callout-settlement.png');
        }
    .dg-map-geoclicker__purpose_type_sight:before {
        background-image: url('@{baseURL}/img/icon-sight.png');
        background-position: 0 0;
        }

.dg-building-callout__list {
    margin: 8px 8px 8px 24px;
    padding: 0;
    color: #ffe6aa;
    list-style: none;
    }
    .dg-building-callout__list-item {
        position: relative;
        margin: 0 0 4px;
        font: 12px/16px Arial;
        
        &:before {
            position: absolute;
            top: 6px;
            left: -21px;
            width: 6px;
            height: 6px;
            background-size: contain;
            content: '';
            }
        }

.dg-map-geoclicker__sight-description {
    overflow: hidden;
    padding: 0.5em 0 0 24px;
    max-height: 2.9em;
    }

.dg-map-geoclicker__show-more-sight-link {
    margin-left: 24px;
    border-bottom: 1px dashed;
    text-decoration: none;

    &:after {
        position: absolute;
        margin-left: 5px;
        content: '>';
        font-weight: bold;
        }
    }

.dg-map-geoclicker__buildingname {
    margin: 0 0 5px !important;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    }

.dg-popup__header,
.dg-popup__footer {
    position: relative;
    overflow: hidden;
    }

.dg-popup__footer-buttons {
    display: table;
    width: 100%;
    }
    .dg-popup__footer-button-wrapper {
        display: table-cell;
        }
        .dg-popup__footer-button {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            margin-left: 5%;
            width: 95%;
            border-radius: 2px;
            text-align: center;
            text-decoration: none;
            font: 12px/24px Arial;
            cursor: pointer;
            transition: all .1s;

            .dg-popup__footer-button-wrapper:first-child & {
                margin: 0;
                width: 100%;
                }

            &:hover {
                transition: all .2s; /* @TODO: all? */
                }
            }

        .dg-popup__footer-icon-button {
            }
            .dg-popup__footer-icon-button:before {
                display: inline-block;
                margin: -2px 0 0 0;
                margin-right: 0.4em;
                width: 12px;
                height: 12px;
                background-size: contain;
                background-repeat: no-repeat;
                content: '';
                vertical-align: middle;
                }

    .dg-popup__footer-button_name_goto:before {
        width: 20px;
        height: 7px;
        background-size: contain;
        background-repeat: no-repeat;
        }

    .dg-popup__footer-button_name_firmCard-back:before {
        width: 10px;
        height: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        }

    .dg-popup__footer-button_name_firmList-back:before {
        width: 10px;
        height: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        }

.dg-popup__show-less-house-link {
    position: relative;
    top: 6px;
    margin: 0 15px 10px;
    color: #0070C0;
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    }

.dg-popup__header-title {
    display: block;
    white-space: normal;
    font: 22px/24px 'SuisseCond', 'Arial narrow', Arial;
    }

.dg-popup__header-title_for_firmcard {
    position: relative;
    overflow: hidden;
    max-height: 3.4em;
    }
    .dg-popup__header-teaser {
        display: -webkit-box;
        height: 3.3em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        }

.clamped-line {
    display: block;
    white-space: nowrap;
    }
.clamped-line-last {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    }

.dg-popup_state_firm-loading { /* @TODO: Кажется, неактуальный рулсет */
    margin: 0 auto;
    width: 200px;
    height: 40px;
    background: url('@{baseURL}/img/loader.gif') no-repeat scroll 50% 50% transparent;
    vertical-align: middle;
    }

.loader-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }

.dg-geoclicker-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -74px !important;
    }

.leaflet-retina .dg-map-geoclicker__purpose_type_settlement:before {
    background-image: url('@{baseURL}/img/callout-settlement-2x.png');
    }

.leaflet-retina .dg-map-geoclicker__purpose_type_sight:before {
    background-image: url('@{baseURL}/img/icon-sight-2x.png');
    }

@keyframes dg-preloader__outer {
    to { transform: rotate(360deg); }
    }
@keyframes dg-preloader__inner {
    to { transform: rotate(-360deg); }
    }

.dg-preloader {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 44px;
    vertical-align: middle;
    }
.dg-preloader_animation_false {
    background: url('@{baseURL}/img/loader.gif') no-repeat scroll 50% 50% transparent;
    }
.dg-preloader_animation_true {
    }
    .dg-preloader_animation_true:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -22px 0 0 -22px;
        width: 44px;
        height: 44px;
        outline: 1px solid transparent;
        content: '';
        animation: dg-preloader__outer 5s linear infinite;
        image-rendering: optimizeQuality;
        }
    .dg-preloader_animation_true:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px;
        width: 32px;
        height: 32px;
        outline: 1px solid transparent;
        content: '';
        animation: dg-preloader__inner 4s linear infinite;
        image-rendering: optimizeQuality;
        }
    .dg-preloader_animation_true.dg-preloader_size_small:before {
        margin: -12px 0 0 -12px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        }
    .dg-preloader_animation_true.dg-preloader_size_small:after {
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        }
    .dg-preloader_animation_true.dg-preloader_scheme_regular:before {
        background-image: url('@{baseURL}/img/DGGeoclicker_preloader_regular-big-outer.svg');
        }
    .dg-preloader_animation_true.dg-preloader_scheme_regular:after {
        background-image: url('@{baseURL}/img/DGGeoclicker_preloader_regular-big-inner.svg');
        }
    .dg-preloader_animation_true.dg-preloader_scheme_regular.dg-preloader_size_small:before {
        background-image: url('@{baseURL}/img/DGGeoclicker_preloader_regular-small-outer.svg');
        }
    .dg-preloader_animation_true.dg-preloader_scheme_regular.dg-preloader_size_small:after {
        background-image: url('@{baseURL}/img/DGGeoclicker_preloader_regular-small-inner.svg');
        }
