imageType = png
image(name)
    width: images[name].width
    height: images[name].height
    background-size: contain
    background-repeat: no-repeat
    if imageType is svg
        background-image url(../svg/name.svg)
    else
        background-image: images[name].background-image
        background-position: images[name].background-position
        .leaflet-retina &
            background-position: images[name + '-2x'].background-position

bg(name)
    if imageType is svg
        background-image url(../svg/name.svg)
    else
        background-image: url(../img/name.png)
        .leaflet-retina &
            background-image: url(../img/name-2x.png)
