unless images is defined
    images = {}

data = {
    callout_star-on-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: -154px 0px
        width: 28px
        height: 28px
    }
    callout_star-on: {
        background-image: url('../img/sprite.basic.png')
        background-position: -154px -123px
        width: 14px
        height: 14px
    }
    miniCard_booklet-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: -89px -65px
        width: 24px
        height: 20px
    }
    miniCard_booklet: {
        background-image: url('../img/sprite.basic.png')
        background-position: -139px -65px
        width: 12px
        height: 10px
    }
    miniCard_photos-adv-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: -154px -102px
        width: 24px
        height: 20px
    }
    miniCard_photos-adv: {
        background-image: url('../img/sprite.basic.png')
        background-position: -126px -65px
        width: 12px
        height: 10px
    }
    preloader_regular-big-inner-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: -89px 0px
        width: 64px
        height: 64px
    }
    preloader_regular-big-inner: {
        background-image: url('../img/sprite.basic.png')
        background-position: -94px -89px
        width: 32px
        height: 32px
    }
    preloader_regular-big-outer-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: 0px 0px
        width: 88px
        height: 88px
    }
    preloader_regular-big-outer: {
        background-image: url('../img/sprite.basic.png')
        background-position: -49px -89px
        width: 44px
        height: 44px
    }
    preloader_regular-small-inner-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: -154px -29px
        width: 24px
        height: 24px
    }
    preloader_regular-small-inner: {
        background-image: url('../img/sprite.basic.png')
        background-position: -169px -123px
        width: 12px
        height: 12px
    }
    preloader_regular-small-outer-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: 0px -89px
        width: 48px
        height: 48px
    }
    preloader_regular-small-outer: {
        background-image: url('../img/sprite.basic.png')
        background-position: -154px -54px
        width: 24px
        height: 24px
    }
    schedule_clock-on-2x: {
        background-image: url('../img/sprite.basic.png')
        background-position: -154px -79px
        width: 22px
        height: 22px
    }
    schedule_clock-on: {
        background-image: url('../img/sprite.basic.png')
        background-position: -114px -65px
        width: 11px
        height: 11px
    }
}

images = merge(images, data)