unless images is defined
    images = {}

data = {
    callout_address-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -71px -25px
        width: 18px
        height: 22px
    }
    callout_address: {
        background-image: url('../img/sprite.light.png')
        background-position: -13px -92px
        width: 9px
        height: 11px
    }
    callout_building-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -71px 0px
        width: 20px
        height: 24px
    }
    callout_building: {
        background-image: url('../img/sprite.light.png')
        background-position: -64px -79px
        width: 10px
        height: 12px
    }
    callout_bus-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -46px 0px
        width: 24px
        height: 24px
    }
    callout_bus: {
        background-image: url('../img/sprite.light.png')
        background-position: -73px -54px
        width: 12px
        height: 12px
    }
    callout_entrance-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: 0px -29px
        width: 24px
        height: 24px
    }
    callout_entrance: {
        background-image: url('../img/sprite.light.png')
        background-position: -92px -59px
        width: 12px
        height: 12px
    }
    callout_phone-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -92px -23px
        width: 20px
        height: 20px
    }
    callout_phone: {
        background-image: url('../img/sprite.light.png')
        background-position: -23px -92px
        width: 10px
        height: 10px
    }
    callout_place-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -25px -29px
        width: 16px
        height: 24px
    }
    callout_place: {
        background-image: url('../img/sprite.light.png')
        background-position: -55px -79px
        width: 8px
        height: 12px
    }
    callout_settlement-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -42px -29px
        width: 24px
        height: 24px
    }
    callout_settlement: {
        background-image: url('../img/sprite.light.png')
        background-position: -75px -79px
        width: 12px
        height: 12px
    }
    callout_sight-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -29px 0px
        width: 16px
        height: 24px
    }
    callout_sight: {
        background-image: url('../img/sprite.light.png')
        background-position: -105px -59px
        width: 8px
        height: 12px
    }
    callout_star-off-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: 0px 0px
        width: 28px
        height: 28px
    }
    callout_star-off: {
        background-image: url('../img/sprite.light.png')
        background-position: -92px -44px
        width: 14px
        height: 14px
    }
    callout_street-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: 0px -54px
        width: 24px
        height: 24px
    }
    callout_street: {
        background-image: url('../img/sprite.light.png')
        background-position: -42px -79px
        width: 12px
        height: 12px
    }
    callout_website-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -50px -54px
        width: 22px
        height: 22px
    }
    callout_website: {
        background-image: url('../img/sprite.light.png')
        background-position: -100px -79px
        width: 11px
        height: 11px
    }
    schedule_clock-off-callout-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -92px 0px
        width: 22px
        height: 22px
    }
    schedule_clock-off-callout: {
        background-image: url('../img/sprite.light.png')
        background-position: -88px -79px
        width: 11px
        height: 11px
    }
    schedule_lunch-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -25px -54px
        width: 24px
        height: 22px
    }
    schedule_lunch: {
        background-image: url('../img/sprite.light.png')
        background-position: 0px -92px
        width: 12px
        height: 11px
    }
    ui_expand-off-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: 0px -79px
        width: 20px
        height: 12px
    }
    ui_expand-off: {
        background-image: url('../img/sprite.light.png')
        background-position: -92px -72px
        width: 10px
        height: 6px
    }
    ui_expand-on-2x: {
        background-image: url('../img/sprite.light.png')
        background-position: -21px -79px
        width: 20px
        height: 12px
    }
    ui_expand-on: {
        background-image: url('../img/sprite.light.png')
        background-position: -103px -72px
        width: 10px
        height: 6px
    }
}

images = merge(images, data)