.schedule__table-clock {
    background-image: url(__BASE_URL__/svg/schedule_clock-off-callout.svg);
}

.schedule_open_false:before {
    background-image: url(__BASE_URL__/svg/schedule_clock-off-callout.svg);
}

.schedule__table-lunch {
    background-image: url(__BASE_URL__/svg/schedule_lunch.svg);
}

#popup-btn-show-entrance:before{
    background-image: url(__BASE_URL__/svg/callout_entrance.svg);
}

.dg-map-geoclicker-purpose:before {
    background-image: url(__BASE_URL__/svg/callout_place.svg);
}

.building-callout__body:first-child:before {
    background-image: url(__BASE_URL__/svg/callout_address.svg);
}

.firm-card__address:before {
    background-image: url(__BASE_URL__/svg/callout_address.svg);
}

.firm-card__phone:before {
    background-image: url(__BASE_URL__/svg/callout_phone.svg);
}

.firm-card__site:before {
    background-image: url(__BASE_URL__/svg/callout_website.svg);
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__street:before {
    background-image: url(__BASE_URL__/svg/callout_street.svg);
}

.schedule__today:after {
    background-image: url(__BASE_URL__/svg/ui_expand-off.svg);
}

.schedule__today.show_schedule:after {
    background-image: url(__BASE_URL__/svg/ui_expand-on.svg);
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__sight:before {
    background-image: url(__BASE_URL__/svg/callout_sight.svg);
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__settlement:before {
    background-image: url(__BASE_URL__/svg/callout_settlement.svg);
}


#popup-btn-firmCard-back:before {
    background-image: url(__BASE_URL__/img/back-dark.png);
}

#popup-btn-firmList-back:before {
    background-image: url(__BASE_URL__/img/back-dark.png);
}

#popup-btn-goto:before {
    background-image: url(__BASE_URL__/img/path-dark.png);
}

.firm-card__email:before {
    background-image: url(__BASE_URL__/img/evenlope-dark.png);
}

.building-callout__list-item:before {
    background-image: url(__BASE_URL__/img/bullet-dark.png);
}

.firm-card__comment {
    color: #aaa;
}

.schedule__now {
    color: #aaa;
}

.schedule__td {
    color: #e6e6e6;
}

.schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
}

.schedule__string-time {
    color: #e6e6e6;
}

.firm-card__aa-list-item:after {
    color: #e6e6e6;
}

.firm-card__rubrics-list-item:after {
    color: #6e6964;
}

.firm-card__rubrics {
    color: #aaa;
}

#popup-link-flamp_stars {
    bg('callout_star-off-dark')
}
