.schedule__table-clock {
    image('DGGeoclicker_clock-off-dark')
}

.schedule_open_false:before {
    image('DGGeoclicker_clock-off-dark')
}

.schedule__table-lunch {
    image('DGGeoclicker_lunch-dark')
}

#popup-btn-show-entrance:before{
    image('DGGeoclicker_enter-dark')
}

.dg-map-geoclicker-purpose:before {
    image('DGGeoclicker_purp-dark')
}

.building-callout__body:first-child:before {
    image('DGGeoclicker_marker-dark')
}

.firm-card__address:before {
    image('DGGeoclicker_marker-dark')
}

.firm-card__phone:before {
    image('DGGeoclicker_phone-dark')
}

.firm-card__site:before {
    image('DGGeoclicker_globe-dark')
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__street:before {
    image('DGGeoclicker_street-dark')
}

.schedule__today:after {
    image('DGGeoclicker_show-schedule-dark')
}

.schedule__today.show_schedule:after {
    image('DGGeoclicker_hide-schedule-dark')
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__sight:before {
    image('DGGeoclicker_icon-sight-dark')
}

.dg-map-geoclicker-purpose.dg-map-geoclicker-purpose__settlement:before {
    image('DGGeoclicker_callout-settlement-dark')
}


#popup-btn-firmCard-back:before {
    image('DGGeoclicker_back-dark')
}

#popup-btn-firmList-back:before {
    image('DGGeoclicker_back-dark')
}

#popup-btn-goto:before {
    image('DGGeoclicker_path-dark')
}

.firm-card__email:before {
    image('DGGeoclicker_evenlope-dark')
}

.building-callout__list-item:before {
    image('DGGeoclicker_bullet-dark')
}

#popup-link-photos:before {
    image('DGGeoclicker_photo-dark')
}

.firm-card__comment {
    color: #aaa;
}

.schedule__now {
    color: #aaa;
}

.schedule__td {
    color: #e6e6e6;
}

.schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
}

.schedule__string-time {
    color: #e6e6e6;
}

.firm-card__aa-list-item:after {
    color: #e6e6e6;
}

.firm-card__rubrics-list-item:after {
    color: #6e6964;
}

.firm-card__rubrics {
    color: #aaa;
}

#popup-link-flamp_stars {
    bg('DGGeoclicker_star-off-dark')
}
