.dg-control-round {
    width: 42px;
    height: 43px;
    border: 0 !important;
    }
    .dg-control-round__icon,
    .leaflet-disabled .dg-control-round__icon {
        background: none !important;
        }
