.leaflet-popup-content-wrapper {
    -ms-filter: e("progid:DXImageTransform.Microsoft.Alpha(Opacity=85)");
    }

.dg-schedule__tc_active_true {
    filter: e("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#63ffffff',endColorstr='#63ffffff')");
    }
    .dg-schedule__tc_active_true > .dg-schedule__day-name {
        color: #e6e6e6;
        }
