.leaflet-popup-inner {
    opacity: .9;
    }
.leaflet-popup-content-wrapper {
    background-color: #323232;
    }

.leaflet-popup-tip-container_image {
    background-image: url('@{baseURL}/img/DGCustomization_tail-dark.png');
    }

.leaflet-popup-tip-container_svg {
    fill: #323232;
    }

a.dg-popup__link,
.firm-card__link a {
    background-image: linear-gradient(to right, rgba(255,230,170,.3), rgba(255,230,170,.3) 100%);
    color: #ffe6aa;
    
    &:hover {
        background-image: linear-gradient(to right, rgba(153,204,221,.3), rgba(153,204,221,.3) 100%);
        color: #9cd;
        }
    }

.leaflet-container a.leaflet-popup-close-button:hover {
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
.leaflet-container a.leaflet-popup-close-button:active {
    background-color: #323232;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
    }
    .leaflet-container a.leaflet-popup-close-button:after {
        top: -3px;
        right: -5px;
        width: 40px;
        height: 40px;
        }
    .leaflet-popup-scrolled .dg-popup__header:after,
    .leaflet-popup-scrolled .dg-popup__footer:before {
        border-bottom: 1px solid #636363;
        background-color: #494949;
        }
