.dg-firm-card__link a {
    background-image: linear-gradient(to right, rgba(255,230,170,.3), rgba(255,230,170,.3) 100%);
    color: #ffe6aa;
    
    &:hover {
        background-image: linear-gradient(to right, rgba(153,204,221,.3), rgba(153,204,221,.3) 100%);
        color: #9cd;
        }
    }
