a.dg-popup__link {
    background-image: linear-gradient(to right, rgba(255,230,170,.3), rgba(255,230,170,.3) 100%);
    color: #ffe6aa;
    
    &:hover {
        background-image: linear-gradient(to right, rgba(153,204,221,.3), rgba(153,204,221,.3) 100%);
        color: #9cd;
        }
    }

.leaflet-popup-scrolled .dg-popup__header:after,
.leaflet-popup-scrolled .dg-popup__footer:before {
    border-bottom: 1px solid #636363;
    background-color: #494949;
    }
