.dg-control-round__icon_name_fullscreen {}

    .dg-control-round__icon_name_fullscreen:before {
        image('DGFullScreen_BlackFullScreenActive');
        }
    .dg-control-round__icon_name_fullscreen:before:hover {
        image('DGFullScreen_BlackFullScreenHover');
        }
