// purp-light = {
//     background-image: url('../public/img/sprite.light.png'),
//     background-position: -123px -116px,
//     width: 8px,
//     height: 12px
// }

// purp-light['.leaflet-retina &'] = {
//     background-position: -1123px -1116px
// }

// imageType = png
if imageType is svg
    image(name)
        background-image url(../svg/name.svg)
else
    image(name)
        {name}


// #popup-link-flamp_stars div {
//     image(purp-light)
// }