/* Callout styles for Leaflet markup */
.leaflet-popup-content-wrapper {
    border-width: 0;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-popup-tip-container {
    background: url(__BASE_URL__/img/dg-callout-default.png) 0 -24px no-repeat;
    bottom: -28px;
    height: 30px;
    left: 50%;
    margin-left: -18px;
    padding: 0;
    position: absolute;
    width: 55px;
}

.leaflet-container a.leaflet-popup-close-button {
    background: url(__BASE_URL__/img/dg-callout-default.png) 0 0 no-repeat;
    border-radius: 2px;
    color: #aaa;
    font-weight: 400;
    height: 24px;
    margin: 0;
    right: -1px;
    top: -2px;
    padding: 0;
    width: 24px;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    background: url(__BASE_URL__/img/dg-callout-default.png) -24px 0 no-repeat;
}

.leaflet-popup-content-wrapper {
    background-color: #fff;
    border: 1px solid #a9bbc9;
    border-radius: 5px;
    color: #222;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 23px 0 23px 0;
    word-wrap: break-word;
}

.leaflet-popup-content-wrapper img {
    border: none;
    margin: 0;
}

.leaflet-popup-content-wrapper p {
    margin: 13px 0;
}

.leaflet-popup-scrolled {
    border: 0;
}

.leaflet-popup-content {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: top;
}

.dg-popup-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -74px !important;
}
