.dg-control-round_icon.dg-zoom__out-button:before { /* Горизонтальная плашка плюсика */
    background: #f0f0f0;
    border-style: solid;
    border-color: #fff;
    border-right-width: 1px;
    border-left-width: 1px;
}