.dg-control-round_icon__locate:before {
	background-image: url(__BASE_URL__/img/BlackGeoActive.png);
}
.dg-control-round_icon__locate__active:before {
	background-image: url(__BASE_URL__/img/GeoPressed.png);
}
.dg-control-round_icon__locate:before:hover {
	background-image: url(__BASE_URL__/img/BlackGeoHover.png);
}
.dg-control-round_icon__locate__requesting:before {
	background-image: url(__BASE_URL__/img/BlackGeoInProgress.png);
}


.leaflet-retina .dg-control-round_icon__locate:before {
	background-image: url(__BASE_URL__/img/RetinaBlackGeoActive.png);
}
.leaflet-retina .dg-control-round_icon__locate__active:before {
	background-image: url(__BASE_URL__/img/RetinaGeoPressed.png);
}
.leaflet-retina .dg-control-round_icon__locate:before:hover {
	background-image: url(__BASE_URL__/img/RetinaBlackGeoHover.png);
}
.leaflet-retina .dg-control-round_icon__locate__requesting:before {
	background-image: url(__BASE_URL__/img/RetinaBlackGeoInProgress.png);
}