.leaflet-popup-content-wrapper {
    .opacity(.95);
    background-color: #fff;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
    border-color: #bebdb5;
}

.leaflet-map-pane .leaflet-popup-tip-container {
    bottom: -46px;
}
