.leaflet-popup-content-wrapper {
    border: 1px solid #bebdb5;
    border-color: rgba(151, 151, 151, .6);
    background-color: rgba(255, 255, 255, .95);
    color: #000;
}

.leaflet-popup-tip-container_image {
    .notRepeatableBg('DGPopup__popupShadow_light', true);
}

.leaflet-map-pane .leaflet-popup-tip-container {
    transform: translateY(46px);
}

.leaflet-map-pane .leaflet-popup-tip-container_svg {
    margin-top: -2px;
    fill: rgba(255, 255, 255, .95);
    stroke: #bebdb5;
    stroke-dasharray: 0, 10, 100, 60;
}

.leaflet-container a.leaflet-popup-close-button {
    .no-touch &:hover {
        background-color: #f5faff;
        color: #6fa4d9;
    }

    &:after {
        top: -3px;
        right: -5px;
        width: 40px;
        height: 40px;
    }
}
