[class^='dg-'],
[class^='dg-']:before,
[class^='dg-']:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 1em;
    font-family: inherit;
    line-height: 1.2;
}

[class^='dg-'] > [class^='dg-']:last-child {
    margin-bottom: 0;
}

[class^='dg-'] img,
[class^='dg-'] abbr,
[class^='dg-'] fieldset {
    border: 0;
}

[class^='dg-'] blockquote,
[class^='dg-'] q {
    quotes: none;
}

[class^='dg-'] blockquote:before,
[class^='dg-'] blockquote:after,
[class^='dg-'] q:before,
[class^='dg-'] q:after {
    content: '';
    content: none;
}

[class^='dg-'] ul,
[class^='dg-'] ol {
    list-style: none;
}

[class^='dg-'] table {
    border-spacing: 0;
    border-collapse: collapse;
}

[class^='dg-'] caption,
[class^='dg-'] th {
    text-align: left;
}

[class^='dg-'] th,
[class^='dg-'] td {
    vertical-align: middle;
}

[class^='dg-'] input::-moz-focus-inner,
[class^='dg-'] button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
