
[class^="dg-"],
[class^="dg-"]:before,
[class^="dg-"]:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 1em;
    line-height: 1;
    }
