.dg-label__content {
    color: #ffd26e;
    display: inline-block;
    vertical-align: top;
    background: #323232;
    background: rgba(50,50,50,.85);
    font: 12px/16px Arial, sans-serif;
    overflow: hidden;
    min-width: 30px;
    max-width: 300px;
    width: auto;
    padding: 4px 8px;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}