stats {
    .repeatableBg;
    .noRepeatableBg;
    repeatable: '@{repeatableBgNames}';
    noRepeatableSprited: '@{noRepeatableBgNamesSprited}';
    noRepeatableNotSprited: '@{noRepeatableBgNamesNotSprited}';
    }
