.image(@name) {
    .imageData(@name);

    width: @width;
    height: @height;
    background-repeat: no-repeat;

    background-image: @backgroundImage;
    background-position: @backgroundPosition;
    background-size: @totalWidth @totalHeight;

    .leaflet-retina & {
        .imageData('@{name}-2x');
        background-image: @backgroundImage;
        }
    }

.bg(@name) when (default()) {
    background-image: url('../img/@{name}.png');

    .leaflet-retina & {
        background-image: url('../img/@{name}-2x.png');
        }
    }
