/* 
    See gulpfile.js for predefined stuff
       — Variables: @baseURL, @analyticsBaseURL, @isModernBrowser, @isIE;
       — Mixins: .imageData.
 */

.spriteImage(@name) {
    .imageData(@name);

    width: @width;
    height: @height;
    background-repeat: no-repeat;

    background-image: url('@{backgroundImage}');
    background-position: @backgroundPosition;
    background-size: @totalWidth @totalHeight;
    }

.dataUriSvgImage(@name) {
    background-image: data-uri('@{baseURL}/img/@{name}.svg');
    }


.noRepeatableBg(@name) when (@isModernBrowser) {
    .dataUriSvgImage(@name);
    }
.noRepeatableBg(@name) when (@isIE) {
    .spriteImage(@name);
    }
.noRepeatableBg(@name) when (@isModernBrowser) and (@isIE) {
    .leaflet-retina & {
        .spriteImage('@{name}@2x');
        }
    }

.repeatableBg(@name) when (@isModernBrowser) {
    .dataUriSvgImage(@name);
    }
.repeatableBg(@name) when (@isIE) {
    background-image: url('@{baseURL}/img/@{name}.png');
    }
.repeatableBg(@name) when (@isModernBrowser) and (@isIE) {
    .leaflet-retina & {
        background-image: url('@{baseURL}/img/@{name}@2x.png');
        }
    }
