.image(@name) {
    .imageData(@name);

    width: @width;
    height: @height;
    background-repeat: no-repeat;
    background-image: url('../svg/@{name}.svg');
    }

.bg(@name) {
    background-image: url('../svg/@{name}.svg');
    }
