/* 
    See gulpfile.js for predefined stuff like:
       — Variables: @graphicsType, @baseURL;
       — Mixins: .imageData.
 */

.noRepeatableBg(@name) when (@graphicsType = svg) {
    .imageData(@name);

    width: @width;
    height: @height;
    background-repeat: no-repeat;
    background-image: url('@{baseURL}/svg/@{name}.svg');
    }
.noRepeatableBg(@name) when (default()) {
    .imageData(@name);

    width: @width;
    height: @height;
    background-repeat: no-repeat;

    background-image: url('@{backgroundImage');
    background-position: @backgroundPosition;
    background-size: @totalWidth @totalHeight;

    .leaflet-retina & {
        .imageData('@{name}-2x');

        background-image: url('@{backgroundImage');
        }
    }
 
/* 
    Миксин для тех картинок, векторной версии которых не существует
 */
.png(@name) {
    background-image: url('@{baseURL}/img/@{name}.png');

    .leaflet-retina & {
        background-image: url('@{baseURL}/img/@{name}-2x.png');
        }
    }

.repeatableBg(@name) when (@graphicsType = svg) {
    background-image: url('@{baseURL}/img/@{name}.svg');
    }
.repeatableBg(@name) when (default()) {
    .png(@name);
    }
