@addToRepeatables: ~`addToRepeatables =
    (function () {
        var names = '';
        return function (name) {
            if (typeof name == 'string' && name.length) {
                names = names + (names.length ? ',' : '') + name;
            }

            return names;
        }
    })()`;

.repeatableBg(@name: '') {
    @repeatableBgNames: ~`addToRepeatables(@{name})`;
    }

@addToNoRepeatablesSprited: ~`addToNoRepeatablesSprited =
    (function () {
        var names = '';
        return function (name) {
            if (typeof name == 'string' && name.length) {
                names = names + (names.length ? ',' : '') + name;
            }

            return names;
        }
    })()`;

@addToNoRepeatablesNotSprited: ~`addToNoRepeatablesNotSprited =
    (function () {
        var names = '';
        return function (name) {
            if (typeof name == 'string' && name.length) {
                names = names + (names.length ? ',' : '') + name;
            }

            return names;
        }
    })()`;

.noRepeatableBg(@name: ''; @useSprite: true) {
    @noRepeatableBgNamesSprited: ~`addToNoRepeatablesSprited()`;
    @noRepeatableBgNamesNotSprited: ~`addToNoRepeatablesNotSprited()`;

    & when (@useSprite) {
        @noRepeatableBgNamesSprited: ~`addToNoRepeatablesSprited(@{name})`;
        }
    & when not (@useSprite) {
        @noRepeatableBgNamesNotSprited: ~`addToNoRepeatablesNotSprited(@{name})`;
        }
    }
