.dg-firm-card__rubrics {
    color: #666;
    }
    .dg-firm-card__rubrics-list-item:after {
        color: #666;
        }
    .dg-firm-card__comment {
        color: #666;
        }

.dg-firm-card__address:before {
    .noRepeatableBg('DGBuildingCallout__marker_light');
    }

.dg-firm-card__phone:before {
    .noRepeatableBg('DGFirmCard__phoneIcon_light');
    }

.dg-firm-card__site:before {
    .noRepeatableBg('DGFirmCard__siteIcon_light');
    }

.dg-firm-card__email:before {
    .noRepeatableBg('DGFirmCard__mailIcon_light');
    }
