.dg-firm-card__rubrics {
    color: #666;
    }
    .dg-firm-card__rubrics-list-item:after {
        color: #666;
        }
    .dg-firm-card__comment {
        color: #666;
        }

.dg-firm-card__address:before {
    .image('DGGeoclicker_marker-light');
    }

.dg-firm-card__phone:before {
    .image('DGGeoclicker_phone-light');
    }

.dg-firm-card__site:before {
    .image('DGGeoclicker_globe-light');
    }

.dg-firm-card__email:before {
    .image('DGGeoclicker_evenlope-light');
    }
