.dg-firm-card__link a {
    background-image: linear-gradient(to right, rgba(0, 91, 143, .3), rgba(0, 91, 143, .3) 100%);
    color: #005b8f;

    .no-touch &:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 100%);
        color: #000;
    }
}

.dg-firm-card__comment {
    color: #666;
}

.dg-firm-card__rubrics {
    color: #666;
}

.dg-firm-card__rubrics-list-item:after {
    color: #666;
}

.dg-firm-card__address:before {
    .notRepeatableBgWithSizes('DGBuildingCallout__marker_light');
}

.dg-firm-card__phone:before {
    .notRepeatableBgWithSizes('DGFirmCard__phoneIcon_light');
}

.dg-firm-card__site:before {
    .notRepeatableBgWithSizes('DGFirmCard__siteIcon_light');
}

.dg-firm-card__email:before {
    .notRepeatableBgWithSizes('DGFirmCard__mailIcon_light');
}
