.dg-map-geoclicker__drilldown {
    color: #666;
    }

.dg-map-geoclicker__purpose:before {
    .image('DGGeoclicker_purp-light');
    }
.dg-map-geoclicker__purpose_type_street:before {
    .image('DGGeoclicker_street-light');
    }
.dg-map-geoclicker__purpose_type_sight:before {
    .image('DGGeoclicker_icon-sight-dark');
    }
.dg-map-geoclicker__purpose_type_settlement:before {
    .image('DGGeoclicker_callout-settlement-dark');
    }


.dg-map-geoclicker__show-more-sight-link {
    color: #005b8f;
    
    &:hover {
        color: #000;
        }
    }
