.dg-map-geoclicker__drilldown {
    color: #666;
    }

.dg-map-geoclicker__purpose:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purpose_light');
    }
.dg-map-geoclicker__purpose_type_street:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purposeStreet_light');
    }
.dg-map-geoclicker__purpose_type_sight:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purposeSight_light');
    }
.dg-map-geoclicker__purpose_type_settlement:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purposeSettlement_light');
    }

.dg-map-geoclicker__show-more-sights-link {
    color: #005b8f;

    .no-touch &:hover {
        color: #000;
        }

    &:after {
        .noRepeatableBg('DGGeoclicker__arrowLeft_light');
        }
    }
