a.dg-popup__link {
    background-image: linear-gradient(to right, rgba(0, 91, 143, .3), rgba(0, 91, 143, .3) 100%);
    color: #005b8f;

    .no-touch &:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 100%);
        color: #000;
    }
}

.dg-popup__footer-button-wrapper .dg-popup__footer-button {
    color: #647882;

    .no-touch &:hover {
        color: #286482;
    }
}

.dg-popup__footer-button {
    border: 1px solid #e9edf2;
    background: #f5faff;
    box-shadow: 0 1px rgba(0, 0, 0, .1);

    .no-touch &:hover {
        background: #e7f3ff;
    }
}

.dg-popup__rating {
    .repeatableBg('DGPopup__ratingStarOff_light');
}

.dg-popup__link_type_photos:before {
    .notRepeatableBgWithSizes('DGPopup__photoIcon_light');
}

.dg-popup__button_name_firm-card-back:before {
    .notRepeatableBgWithSizes('DGPopup__backIcon_light');
}

.dg-popup__button_name_firm-list-back:before {
    .notRepeatableBgWithSizes('DGPopup__backIcon_light');
}

.dg-popup__button_name_back:before {
    .notRepeatableBgWithSizes('DGPopup__backIcon_light');
}

.dg-popup__button_name_goto:before {
    .notRepeatableBg('DGPopup__pathIcon_light');
}

.dg-popup__button_name_show-entrance:before {
    .notRepeatableBg('DGPopup__entranceIcon_light');
}

