.dg-schedule__now {
    color: #666;
    }

.dg-schedule__td {
    color: #000;
    }

.dg-schedule__tc_active_true {
    background: rgba(0, 0, 0, 0.03);
    }

.dg-schedule__string-time {
    color: #666;
    }

.dg-schedule__table-clock {
    .noRepeatableBg('DGGeoclicker_clock-off-light');
    }

.dg-schedule_open_false:before {
    .noRepeatableBg('DGGeoclicker_clock-off-light');
    }

.dg-schedule__table-lunch {
    .noRepeatableBg('DGGeoclicker_lunch-light');
    }

.dg-schedule__today:after {
    .noRepeatableBg('DGGeoclicker_show-schedule-light');
    }

.dg-schedule__today.dg-schedule__today_shown_true:after {
    .noRepeatableBg('DGGeoclicker_hide-schedule-light');
    }
