.dg-schedule__today {
    background-image: linear-gradient(to right,
    rgba(0, 0, 0, .55),
    rgba(0, 0, 0, .55) 50%,
    rgba(0, 0, 0, .0) 51%,
    rgba(0, 0, 0, .0) 100%
    );
}

.dg-schedule__now {
    color: #666;
}

.dg-schedule__td {
    color: #000;
}

.dg-schedule__tc_active_true {
    background: rgba(0, 0, 0, .03);
}

.dg-schedule__string-time {
    color: #666;
}

.dg-schedule__table-clock {
    .notRepeatableBgWithSizes('DGSchedule__clockOff_light');
}

.dg-schedule__table-lunch {
    .notRepeatableBgWithSizes('DGSchedule__lunchIcon_light');
}

.dg-schedule_open_false .dg-schedule__today:before {
    .notRepeatableBgWithSizes('DGSchedule__clockOff_light');
}

.dg-schedule__today:after {
    .notRepeatableBgWithSizes('DGSchedule__expandIcon_light');
}

.dg-schedule__today_shown_true:after {
    .notRepeatableBgWithSizes('DGSchedule__collapseIcon_light');
}
