.building-callout__body:first-child:before {
    .image('DGGeoclicker_marker-light');
    }
.building-callout__list-item:before {
    .image('DGGeoclicker_bullet-light');
    }


.dg-map-geoclicker-purpose:before {
    .image('DGGeoclicker_purp-light');
    }
.dg-map-geoclicker-purpose_type_street:before {
    .image('DGGeoclicker_street-light');
    }
.dg-map-geoclicker-purpose_type_sight:before {
    .image('DGGeoclicker_icon-sight-dark');
    }
.dg-map-geoclicker-purpose_type_settlement:before {
    .image('DGGeoclicker_callout-settlement-dark');
    }


.dg-showmoresight {
    color: #005b8f;
    
    &:hover {
        color: #000;
        }
    }


.firm-card__rubrics {
    color: #666;
    }
    .firm-card__rubrics-list-item:after {
        color: #666;
        }
    .firm-card__comment {
        color: #666;
        }

.firm-card__address:before {
    .image('DGGeoclicker_marker-light');
    }

.firm-card__phone:before {
    .image('DGGeoclicker_phone-light');
    }

.firm-card__site:before {
    .image('DGGeoclicker_globe-light');
    }

.firm-card__email:before {
    .image('DGGeoclicker_evenlope-light');
    }


.popup-link_type_photos:before {
    .image('DGGeoclicker_photo-light');
    }

.popup-btn-firmCard-back:before {
    .image('DGGeoclicker_back-light');
    }

.popup-btn-firmList-back:before {
    .image('DGGeoclicker_back-light');
    }

.popup-btn-goto:before {
    .image('DGGeoclicker_path-light');
    }

.popup-btn-show-entrance:before{
    .image('DGGeoclicker_enter-light');
    }


.schedule__now {
    color: #666;
    }

.schedule__td {
    color: #000;
    }

.schedule__tc_active_true {
    background: rgba(0, 0, 0, 0.03);
    }

.schedule__string-time {
    color: #666;
    }

.schedule__table-clock {
    .image('DGGeoclicker_clock-off-light');
    }

.schedule_open_false:before {
    .image('DGGeoclicker_clock-off-light');
    }

.schedule__table-lunch {
    .image('DGGeoclicker_lunch-light');
    }

.schedule__today:after {
    .image('DGGeoclicker_show-schedule-light');
    }

.schedule__today.show_schedule:after {
    .image('DGGeoclicker_hide-schedule-light');
    }
