.dg-map-geoclicker-drilldown {
    color: #666;
    }

.dg-popup__footer-button-wrapper .dg-popup__footer-button { /* @TODO: Зачем специфичность? */
    color: #647882;
    
    &:hover {
        color: #286482;
        }
    }

.dg-popup__footer-button {
    border: 1px solid #e9edf2;
    background: #f5faff;
    box-shadow: 0 1px rgba(0,0,0,.1);
    
    &:hover {
        background: #e7f3ff;
        }
    }
