/*Zoom control styles*/

.dg-zoom {
    background: url(./images/zoom_sprite.png) -118px 0 repeat-y;
    padding: 0 2px;
    width: 24px;
}
.dg-zoom:before,
.dg-zoom:after {
    background: url(./images/zoom_sprite.png) -80px -32px no-repeat;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: -4px;
    width: 24px;
}
.dg-zoom:after {
    background-position: -80px -35px;
    bottom: -4px;
    top: auto;
}
    .dg-zoom__in,
    .dg-zoom__out {
        background: url(./images/zoom_sprite.png) -20px 0 no-repeat;
        cursor: pointer;
        height: 20px;
        overflow: hidden;
        text-indent: -999px;
        width: 20px;
    }
    .dg-zoom__in {
        margin-bottom: 7px;
    }
    .dg-zoom__out {
        background-position: -20px -20px;
    }
    .dg-zoom__in:hover {
        background-position: -40px 0;
    }
    .dg-zoom__out:hover {
        background-position: -40px -20px;
    }