a.dg-popup__link {
    background-image: linear-gradient(to right, rgba(0,91,143,.3), rgba(0,91,143,.3) 100%);
    color: #005b8f;
    
    &:hover {
        background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.3) 100%);
        color: #000;
        }
    }

.leaflet-popup-scrolled .dg-popup__header:after,
.leaflet-popup-scrolled .dg-popup__footer:before {
    background-color: #eee;
    }
