.leaflet-popup-content-wrapper {
    .opacity(0.95);
    background-color: #fff;
    border-color: #bebdb5 !important;
    }

.leaflet-map-pane .leaflet-popup-tip-container {
    margin-top: -1px;
    }
