<div class="dg-map-infocard-firmlist">
	<div class="dg-map-firm" id="dg-map-firm-<%=id%>">
		<div class="dg-map-firm-bullet"></div>
		<h2 class="dg-map-firm-title dg-map-result-title">
			<a id="<%=id%>" class="pseudo link-natural link-text" href="javascript:void(0)"><%=name%></a>
		</h2>
	</div>
</div>