<address class="firm-card__address">
    <%=data.address%><!--
     --><% if(data.comment) { %><!--
         --><span class="firm-card__comment">&ndash;&nbsp;&nbsp;<%=data.comment%></span>
    <% } %>
</address>
