<% for (var i = 0, gl = groups.length; i < gl; i++) { %>
    <% for (var j = 0, l = groups[i].contacts.length; j < l; j++) { %>
        <%if (groups[i].contacts[j].type === 'phone' || groups[i].contacts[j].type === 'fax') {%>
            <div class="firm-card__phone">
                <span class="firm-card__phone-num"><!--
                 --><%=groups[i].contacts[j].value%><!--
                    --><% if(groups[i].contacts[j].comment) { %><!--
                        --><span class="firm-card__comment" title="<%=groups[i].contacts[j].comment%>">&ndash;&nbsp;&nbsp;<%=groups[i].contacts[j].comment%></span><!--
                    --><% } %>
                </span>
            </div>
        <% } %>
    <% } %>
<% } %>
<% for (var i = 0, gl = groups.length; i < gl; i++) { %>
    <% for (var j = 0, l = groups[i].contacts.length; j < l; j++) { %>
        <% if(groups[i].contacts[j].type === 'website') { %><!--
            --><div class="firm-card__link firm-card__site"><!--
                --><a href="http://<%=groups[i].contacts[j].alias%>" target="_blank" class="link_scheme_dark firm-card__sitelink">&nbsp;&nbsp;<%=groups[i].contacts[j].alias%> </a></div>
        <% } %>
    <% } %>
<% } %>
<% for (var i = 0, gl = groups.length; i < gl; i++) { %>
    <% for (var j = 0, l = groups[i].contacts.length; j < l; j++) { %>
        <% if(groups[i].contacts[j].type === 'email') { %>
            <div class="firm-card__link firm-card__email"><!--
                --><a href="mailto: <%=groups[i].contacts[j].value%>">&nbsp;&nbsp;<%=groups[i].contacts[j].value%></a>
            </div>
        <% } %>
    <% } %>
<% } %>
