<div id="dg-map-firm-full-<%=firm.id%>" class="dg-map-firm-full" style="display:block">
    <!--Name and adress-->
    <ul class="dg-map-firm-box">
        <li class="dg-map-firm-row dg-map-firm-address"><%=firm.geo.address%>
            <% if(firm.geo.comment) { %>
            <span class="note"> &mdash; <%=firm.geo.comment%></span>
            <% } %>
        </li>
    </ul>
    <!--Subcats-->
    <ul class="dg-map-firm-box dg-map-firm-box-rubric dg-map-firm-subcats">
        <% for (var r = 0, rubrics = firm.rubrics.primary.length; r < rubrics; r++) { %>
            <li><%=firm.rubrics.primary[r].name%><%if (r !== rubrics-1) print(",");%></a></li>
        <% } %>
        <% for (var s = 0, additional = firm.rubrics.additional.length; s < additional; s++) { %>
            <li>, <%=firm.rubrics.additional[s].name%><%if (s !== additional-1) print(",");%></a></li>
        <% } %>
    </ul>
    <!--Contacts-->
    <ul class="dg-map-firm-box">
        <% for (var c = 0, contacts = firm.contact_groups.length; c < contacts; c++) { %>
        <li class="dg-map-firm-row <%if (c > 0) {print("additional-addresses");} else {print("dg-map-firm-contacts");} %>">
        <% if (firm.contact_groups[c].name){ %>
            <div class="dg-map-contact-group"><%=firm.contact_groups[c].name%></div>
        <% } %>
        <ul class="dg-map-contacts-list">
            <% for (var cont in firm.contact_groups[c].contacts) { %>
            <li class="dg-map-contacts-row dg-map-row-with-icon dg-map-row-<%=firm.contact_groups[c].contacts[cont].type %>">
                <span name="dg-map-row-<%=firm.contact_groups[c].contacts[cont].type%>-<%=firm.id%>"
                <% if (firm.contact_groups[c].contacts[cont].register_bc_url && firm.contact_groups[c].contacts[cont].type === "email") {%>
                register_bc_url=<%=firm.contact_groups[c].contacts[cont].register_bc_url %>
                <% } %>
                >
                    <% if (firm.contact_groups[c].contacts[cont].type === "website") { %>
                        <a href="<%=firm.contact_groups[c].contacts[cont].value%>"><%=firm.contact_groups[c].contacts[cont].alias%></a>
                    <% } else if (firm.contact_groups[c].contacts[cont].type === "email") { %>
                        <a href="mailto:<%=firm.contact_groups[c].contacts[cont].value%>"><%=firm.contact_groups[c].contacts[cont].value%></a>
                        <% } else { %>
                        <%=firm.contact_groups[c].contacts[cont].value%>
                    <% } %>
                </span>
            </li>
            <% } %>
        </ul>
        </li>
        <% } %>
    </ul>
	<ul class="dg-map-firm-box">
    	<li class="dg-map-firm-row">
			<!-- Расписание работы -->
			<div class="dg-map-firm-schedule-wrapper">
			    <div class="firm-card__schedule">
			        <%if (schedule) {%>
				        <%if (forecast.today) {%>
							<div class="schedule__today schedule_open_<%if (forecast.open) {%>true<%}else{%>false<%}%><%if(schedule.everyday){%> schedule__no-table<%}%>">
							    <%=forecast.today.text%>
							    <%if (forecast.today.from) {%>
							        <span class="schedule__today-time"><%=forecast.today.from%>&ndash;<%=forecast.today.to%></span>
							    <%}%>

							    <%if (schedule.lunch) {%>
							        <%=dict.t(lang, 'lunch')%>
							        <%for (var i = 0, l = schedule.lunch.length; i < l; i++) {%>
							            <span class="schedule__today-time"><%=schedule.lunch[i].from%>&ndash;<%=schedule.lunch[i].to%></span>
							        <%}%>
							    <%}%>
							</div>
						<%}%>

						<%if (forecast.now) {%>
							<div class="schedule__now">
							    <!--Вывод строки прогноза, например "откроется завтра" или "закроется через 15 минут" -->
							    <span class="schedule__now-text"><%=forecast.now%></span>
							</div>
						<%}%>

						<%if (!schedule.everyday) {%>
						<!--Если ежедневно одно и то же расписание - попап не нужен -->
						    <%if (schedule.week) {%>
						        <!--Упрощённое расписание -->
						        <%if (schedule.week.evently) {%>
							        <div class="schedule__table">
							            <%for (var j = 0, evently = schedule.week.evently, len = evently.length; j < len; j++) {%>
								            <div class="schedule__string">
								                <%if (evently[j].alltime) {%>
								                    <%=dict.t(lang, 'worksAroundTheClock')%>
								                <%}%>
							                    <%if (evently[j].everyday) {%>
							                        <%=dict.t(lang, 'everyday')%>
							                    <%} else {%>
							                        <%if (evently[j].budni) {%>
							                            <%=dict.t(lang, 'weekdays')%>
							                        <%} else {%>
							                            <%=evently[j].dayList%>
							                        <%}%>
							                    <%}%>
							                    <%if (evently[j].holiday) {%>
							                        &mdash;<span class="schedule__string-time"><%=dict.t(lang, 'restDay')%></span>
							                    <%} else {%>
							                        <span class="schedule__string-time"><%=evently[j].from%>&ndash;<%=evently[j].to%></span>
							                        <%if (evently[j].lunch.length) {%>
								                        &nbsp;,&nbsp;
								                        <%=dict.t(lang, 'lunch')%> 
								                        <span class="schedule__string-time">
								                        	<%=evently[j].lunch.from%>&ndash;<%=evently[j].lunch.to%>
							                        	</span>
							                        <%}%>
							                    <%}%>
								            </div>
							            <%}%>
							        </div>
						        <%}%>

						        <!-- Неупрощаемое расписание - таблица -->
						        <%if (schedule.week.table) {%>
					        		<div>
							            <div class="schedule__table">
							                <div class="schedule__tc schedule__tc_pre">
											    <div class="schedule__day-name">&nbsp;</div>
											    <div class="schedule__table-clock schedule__td"></div>
											    <%if (schedule.week.hasLunch) {%>
											        <div class="schedule__table-lunch schedule__td"></div>
											    <%}%>
											</div>
											<%for (var k = 0, table = schedule.week.table, length = table.length; k < length; k++) {%>
											    <div class="schedule__tc<%if (table[k].active) {%> schedule__tc_active_true<%}%>">
											        <div class="schedule__day-name"><%=table[k].key%></div>
											        <div class="schedule__td">
											            <%if (table[k].from) {%>
											                <%=table[k].from%> <%=table[k].to%>
											            <%} else {%>
											                &ndash;
											            <%}%>
											        </div>
											        <%if (table[k].lunch) {%>
												        <%for (var l = 0, lunch = table[k].lunch, leng = lunch.length; l < leng; l++) {%>
												            <div class="schedule__td">
												                <%if (lunch[l].from) {%>
												                    <%=lunch[l].from%> <%=lunch[l].to%>
												                <%} else {%>
												                    &ndash;
												                <%}%>
												            </div>
												        <%}%>
											        <%}%>
											    </div>
											<%}%>
							            </div>
						            </div>
						        <%}%>
						    <%}%>
						<%}%>
			    	<%}%>
			    </div>
			</div>
		</li>
	</ul>


<!-- Flamp -->
    <% if (firm.rating && firm.rating.flamp) { %>
    <ul class="dg-map-firm-box">
    <li class="dg-map-firm-row dg-map-flamp-row">
    <a target="_blank" class="dg-map-firm-link-with-icon" href="<%=dataHelper.getFlampUrl(firm.id)%>">
        <span class="link-icon dg-map-icon dg-map-icon-flamp"></span>
        <% if (firm.reviews && firm.reviews.count) { %>
        <span class="dg-map-firm-link-text"><%=dict.t(lang, "reviewsOnFlamp")%></span>
        <% } else { %>
        <span class="dg-map-firm-link-text"><%=dict.t(lang, "writeReviewOnFlamp")%></span>
        <% } %>
    </a>
    <% if (firm.reviews && firm.reviews.count) { %>
    <sup><%=firm.reviews.count%></sup>
    <% } %>
    </li>
    </ul>
    <% } %>


    <!-- Company payment methods -->
    <%if (firm.attributes && firm.attributes.general && firm.attributes.general.items && firm.attributes.general.items.length) { %>
    <ul class="dg-map-firm-box dg-map-firm-payments">
        <li class="dg-map-firm-row">
            <%for (var t = 0, attrs = firm.attributes.general.items.length; t < attrs; t++) { %>
                <% if (firm.attributes.general.items[t].name == 'payment_type') {
                        var payMethods = firm.attributes.general.items[t].value;
                        for (var u = 0, methods = payMethods.length; u < methods; u++) { %>
                            <span><%=dict.t(lang, payMethods[u])%></span>
                        <%}
                    }
                %>
            <%}%>
        </li>
    </ul>
    <% } %>

</div>