<h1 class="dg-map-geoclicker-buildingname">{buildingname}</h1>
<div class="dg-map-geoclicker-address">{address}</div>
<div class="dg-map-geoclicker-purpose">{purpose}</div>
<div class="dg-map-geoclicker-elevation">{elevation}</div>
<div>{link}</div>