<div class="dg-map-geoclicker-address-header"><%=headAddress%></div>
<div class="dg-map-geoclicker-address"><%=address%></div>
<div class="dg-map-geoclicker-purpose"><%=purpose%></div>
<div class="dg-map-geoclicker-elevation"><%=elevation%></div>
