<%  if (btns.length > 0) { %>
    <footer class="popup_footer_btns">
    	<% for (var i = 0; i < btns.length; i++) {%>
        	<div class="popup_footer_btn-wrapper">
        		<a id="popup-btn-<%=btns[i].name%>" class="popup_footer_btn<% if(btns[i].icon) print(' popup_footer_btn__icon');%>"
        			<% 	if (btns[i].href) print('href=\'' + btns[i].href + '\' target = \'_blank\'');
        				else print('href=\'javascript:void(0)\'');
        			%>
        			><%=btns[i].label%></a>
        	</div>
    	<%}%>
    </footer>
<%}%>
