<div class="dg-map-geoclicker-purpose"><%=purpose%></div>
<%if(address){%>
	<div class="dg-map-geoclicker-address"><%=address%></div>
<%}%>
<div class="dg-map-geoclicker-drilldown"><%=drilldown%></div>
<%if(description){%>
<div class="dg-map-geoclicker-sight-description"><%=description%></div>
<a id="dg-showmoresight" href="javascript:void(0)"><%=showMoreText%></a>
<%}%>