<!-- <h1 class="dg-map-geoclicker-buildingname"><%=buildingname%></h1> -->
<div class="dg-map-geoclicker-address"><%=address%></div>
<div class="dg-map-geoclicker-purpose"><%=purpose%></div>
<%if(description){%>
<div class="dg-map-geoclicker-sight-description"><%=description%></div>
<a id="dg-showmoresight" href="javascript:void(0)"><%=showMoreText%></a>
<%}%>