.dg-firm-card__comment {
    color: #aaa;
    }

.dg-firm-card__aa-list-item:after {
    color: #e6e6e6;
    }

.dg-firm-card__rubrics {
    color: #aaa;
    }
    .dg-firm-card__rubrics-list-item:after {
        color: #6e6964;
        }

.dg-firm-card__address:before {
    .noRepeatableBg('DGGeoclicker_marker-dark');
    }

.dg-firm-card__phone:before {
    .noRepeatableBg('DGGeoclicker_phone-dark');
    }

.dg-firm-card__site:before {
    .noRepeatableBg('DGGeoclicker_globe-dark');
    }

.dg-firm-card__email:before {
    .noRepeatableBg('DGGeoclicker_evenlope-dark');
    }
