.dg-firm-card__comment {
    color: #aaa;
    }

.dg-firm-card__aa-list-item:after {
    color: #e6e6e6;
    }

.dg-firm-card__rubrics {
    color: #aaa;
    }
    .dg-firm-card__rubrics-list-item:after {
        color: #6e6964;
        }

.dg-firm-card__address:before {
    .noRepeatableBg('DGBuildingCallout__marker_dark');
    }

.dg-firm-card__phone:before {
    .noRepeatableBg('DGFirmCard__phoneIcon_dark');
    }

.dg-firm-card__site:before {
    .noRepeatableBg('DGFirmCard__siteIcon_dark');
    }

.dg-firm-card__email:before {
    .noRepeatableBg('DGFirmCard__mailIcon_dark');
    }
