.dg-map-geoclicker__drilldown {
    color: #aaa;
    }

.dg-map-geoclicker__purpose:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purpose_dark');
    }
.dg-map-geoclicker__purpose_type_street:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purposeStreet_dark');
    }
.dg-map-geoclicker__purpose_type_sight:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purposeSight_dark');
    }
.dg-map-geoclicker__purpose_type_settlement:before {
    .noRepeatableBgWithSizes('DGGeoclicker__purposeSettlement_dark');
    }

.dg-map-geoclicker__show-more-sights-link {
    color: #ffe6aa;
    
    &:hover {
        color: #9cd;
        }

    &:after {
        .noRepeatableBg('DGGeoclicker__arrowLeft_dark');
        }
    }
