.dg-popup__header-title {
    color: #ffc84b;
    }

.dg-popup__footer-button-wrapper .dg-popup__footer-button, /* @TODO: Зачем специфичность? */
.dg-popup__footer-button-wrapper .dg-popup__footer-button:hover {
    color: #e6e6e6;
    }

.dg-popup__footer-button {
    background: #000;
    background: rgba(0,0,0,.2);
    box-shadow: 0 1px rgba(0,0,0,.1);

    &:hover {
        background: #222;
        box-shadow: 0 1px 3px rgba(0,0,0,.5);
        }
    }

.dg-popup__rating:after {
    .bg('DGGeoclicker_star-off-dark');
    }

.dg-popup__link_type_photos:before {
    .image('DGGeoclicker_photo-dark');
    }

.dg-popup__button_name_firm-card-back:before {
    .image('DGGeoclicker_back-dark');
    }

.dg-popup__button_name_firm-list-back:before {
    .image('DGGeoclicker_back-dark');
    }

.dg-popup__button_name_goto:before {
    .image('DGGeoclicker_path-dark');
    }

.dg-popup__button_name_show-entrance:before {
    .image('DGGeoclicker_enter-dark');
    }
