.dg-schedule__now {
    color: #aaa;
    }

.dg-schedule__td {
    color: #e6e6e6;
    }

.dg-schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
    }

.dg-schedule__string-time {
    color: #e6e6e6;
    }

.dg-schedule_open_false:before {
    .noRepeatableBg('DGGeoclicker_clock-off-dark');
    }

.dg-schedule__table-lunch {
    .noRepeatableBg('DGGeoclicker_lunch-dark');
    }

.dg-schedule__today:after {
    .noRepeatableBg('DGGeoclicker_show-schedule-dark');
    }

.dg-schedule__table-clock {
    .noRepeatableBg('DGGeoclicker_clock-off-dark');
    }

.dg-schedule__today.dg-schedule__today_shown_true:after {
    .noRepeatableBg('DGGeoclicker_hide-schedule-dark');
    }
