.dg-schedule__today {
    background-image: linear-gradient(to right,
    rgba(230, 230, 230, .55),
    rgba(230, 230, 230, .55) 50%,
    rgba(0, 0, 0, .0) 51%,
    rgba(0, 0, 0, .0) 100%
    );
}

.dg-schedule__now {
    color: #aaa;
}

.dg-schedule__td {
    color: #e6e6e6;
}

.dg-schedule__tc_active_true {
    background: rgba(255, 255, 255, .1);
}

.dg-schedule__string-time {
    color: #e6e6e6;
}

.dg-schedule__table-clock {
    .notRepeatableBgWithSizes('DGSchedule__clockOff_dark');
}

.dg-schedule__table-lunch {
    .notRepeatableBgWithSizes('DGSchedule__lunchIcon_dark');
}

.dg-schedule_open_false .dg-schedule__today:before {
    .notRepeatableBgWithSizes('DGSchedule__clockOff_dark');
}

.dg-schedule__today:after {
    .notRepeatableBgWithSizes('DGSchedule__expandIcon_dark');
}

.dg-schedule__today_shown_true:after {
    .notRepeatableBgWithSizes('DGSchedule__collapseIcon_dark');
}
