.dg-building-callout__body:first-child:before {
    .image('DGGeoclicker_marker-dark');
    }
.dg-building-callout__list-item:before {
    .image('DGGeoclicker_bullet-dark');
    }


.dg-map-geoclicker__purpose:before {
    .image('DGGeoclicker_purp-dark');
    }
.dg-map-geoclicker__purpose_type_street:before {
    .image('DGGeoclicker_street-dark');
    }
.dg-map-geoclicker__purpose_type_sight:before {
    .image('DGGeoclicker_icon-sight-dark')
    }
.dg-map-geoclicker__purpose_type_settlement:before {
    .image('DGGeoclicker_callout-settlement-dark');
    }


.dg-firm-card__comment {
    color: #aaa;
    }

.dg-firm-card__aa-list-item:after {
    color: #e6e6e6;
    }

.dg-firm-card__rubrics {
    color: #aaa;
    }
    .dg-firm-card__rubrics-list-item:after {
        color: #6e6964;
        }

.dg-firm-card__address:before {
    .image('DGGeoclicker_marker-dark');
    }

.dg-firm-card__phone:before {
    .image('DGGeoclicker_phone-dark');
    }

.dg-firm-card__site:before {
    .image('DGGeoclicker_globe-dark');
    }

.dg-firm-card__email:before {
    .image('DGGeoclicker_evenlope-dark');
    }


.dg-popup__link_type_flamp_stars {
    .bg('DGGeoclicker_star-off-dark');
    }

.dg-popup__link_type_photos:before {
    .image('DGGeoclicker_photo-dark');
    }

.dg-popup__button_name_firmCard-back:before {
    .image('DGGeoclicker_back-dark');
    }

.dg-popup__button_name_firmList-back:before {
    .image('DGGeoclicker_back-dark');
    }

.dg-popup__button_name_goto:before {
    .image('DGGeoclicker_path-dark');
    }

.dg-popup__button_name_show-entrance:before {
    .image('DGGeoclicker_enter-dark');
    }


.dg-schedule__now {
    color: #aaa;
    }

.dg-schedule__td {
    color: #e6e6e6;
    }

.dg-schedule__tc_active_true {
    background: rgba(255, 255, 255, 0.1);
    }

.dg-schedule__string-time {
    color: #e6e6e6;
    }

.dg-schedule_open_false:before {
    .image('DGGeoclicker_clock-off-dark');
    }

.dg-schedule__table-lunch {
    .image('DGGeoclicker_lunch-dark');
    }

.dg-schedule__today:after {
    .image('DGGeoclicker_show-schedule-dark');
    }

.dg-schedule__table-clock {
    .image('DGGeoclicker_clock-off-dark');
    }

.dg-schedule__today.dg-schedule__today_shown_true:after {
    .image('DGGeoclicker_hide-schedule-dark');
    }
