.dg-map-geoclicker-drilldown {
    color: #aaa;
    }

.dg-popup__header-title {
    color: #ffc84b;
    }

.dg-popup__footer-button-wrapper .dg-popup__footer-button, /* @TODO: Зачем специфичность? */
.dg-popup__footer-button-wrapper .dg-popup__footer-button:hover {
    color: #e6e6e6;
    }

.dg-popup__footer-button {
    background: #000;
    background: rgba(0,0,0,.2);
    box-shadow: 0 1px rgba(0,0,0,.1);

    &:hover {
        background: #222;
        box-shadow: 0 1px 3px rgba(0,0,0,.5);
        }
    }
